﻿.section-big .overlay{
    background: #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        bottom: 0;
        z-index: 1;
        opacity: .6;
        transition: opacity .3s;
}