@font-face {
    font-family: 'ne_disp';
    src: url('../fonts/neutra_display_titling-webfont.eot');
    src: url('../fonts/neutra_display_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutra_display_titling-webfont.woff2') format('woff2'),
         url('../fonts/neutra_display_titling-webfont.woff') format('woff'),
         url('../fonts/neutra_display_titling-webfont.svg#neutra_displaytitling') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ne_demi';
    src: url('../fonts/neutratext-demisc-webfont.eot');
    src: url('../fonts/neutratext-demisc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutratext-demisc-webfont.woff2') format('woff2'),
         url('../fonts/neutratext-demisc-webfont.woff') format('woff'),
         url('../fonts/neutratext-demisc-webfont.svg#neutra_textdemi_sc') format('svg');
    font-weight: normal;
    font-style: normal;

}