body
{
	background:#fff;
	font-size:80%;
	color:#9b9b9b;
	text-shadow:rgba(0,0,0,0.01) 0 0 1px
}

.font-normal,.list-style-number li .the-index,.btn
{
	font-family:'ne_demi', arial, sans-serif;
}

.font-bold
{
	font-family:'ne_disp',arial,sans-serif;
}

h2,h3,h4,h5
{
	font-family:'ne_demi',arial,sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;

}
h5{ font-size:1.2rem;}
h4{ font-size:1.7rem; letter-spacing:1px;}
h3{ font-size:1.8rem; letter-spacing:2px;}

h2.orange,h3.orange,h4.orange,h5.orange
{
	color:#f36f21
}

h2.green,h3.green,h4.green,h5.green
{
	color:#8cc63f
}

h2.blue,h3.blue,h4.blue,h5.blue
{
	color:#00aeef
}

h2.white,h3.white,h4.white,h5.white
{
	color:#fff
}

*
{
	font-size:1.3rem;
}

#preload
{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	background:rgba(255,255,255,0.7);
	z-index:999
}

#preload .loader-img
{
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	top:50%;
	left:50%;
	background:url(../img/logo-loading.png) center center no-repeat;
	width:100px;
	height:100px;
	margin-top:-50px;
	margin-left:-50px;
	-webkit-animation-name:spin;
	-webkit-animation-duration:1000ms;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-name:spin;
	-moz-animation-duration:1000ms;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear
}

#preContainer
{
	display:none
}

.animsition-con
{
	position:relative;
	overflow:hidden
}

.section-small
{
	width:270px;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	background-color:#fff;
	text-align:center;
	padding-top:40px
}

.section-big
{
	position:absolute;
	right:270px;
	top:0;
	bottom:0;
	left:0
}

.section-big>div[class^='col-']
{
	position:relative;
	z-index:1
}

.section-big.static
{
	position:relative;
	right:0;
	margin-right:270px;
	height:900px
}

.logo
{
	text-align:center;
	margin-bottom:25px
}

.logo-loading img
{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-50px;
	margin-top:-80px;
	-webkit-animation-name:spin;
	-webkit-animation-duration:1000ms;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-name:spin;
	-moz-animation-duration:1000ms;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear
}

@-moz-keyframes spin {
	from
	{
		-moz-transform:rotate(0deg)
	}
	
	to
	{
		-moz-transform:rotate(360deg)
	}
}

@-webkit-keyframes spin {
	from
	{
		-webkit-transform:rotate(0deg)
	}
	
	to
	{
		-webkit-transform:rotate(360deg)
	}
}

@keyframes spin {
	from
	{
		transform:rotate(0deg)
	}
	
	to
	{
		transform:rotate(360deg)
	}
}

nav .nav-list
{
	margin:0;
	padding:0;
	display:block;
	list-style:none
}

nav .nav-list>li
{
	padding:8px;
	text-align:center
}

nav .nav-list>li>a
{
	color:#9b9b9b;

	font-size:1.7rem;
	letter-spacing:2px;
	padding:3px 10px;
	text-decoration:none;
	font-family:'ne_disp',arial,sans-serif
}

nav .nav-list>li:hover>a
{
	color:#717171
}

nav .nav-list>li.active>a,nav .nav-list>li a:focus
{
	color:#f07002;
	border-bottom:1px solid #f07002
}

.nav-option
{
	max-width:220px;
	display:block;
	margin-bottom:25px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #D7D7D7;
	border-bottom-color: #D7D7D7;
}

.nav-option .elem
{
	display:inline-block;
	padding:0;
	position:relative;
	vertical-align:middle;
	height:15px;
	line-height:15px
}
.nav-option i{
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}

.nav-option .elem:last-child:after
{
	display:none
}

.nav-option .elem:after
{
	content:"";
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:1px;
	background:#cacaca
}

.nav-option .lang-dropdown
{
	cursor:pointer;
	padding:0 10px
}

.nav-option .lang-dropdown .arrow-down
{
	color:#f36f21
}

.nav-option .lang-dropdown .current
{
	font-size:1.1rem;
	line-height:13px;
	margin-left:5px;
	color:#9b9b9b;
	letter-spacing:1px;
	font-family:'ne_demi',arial,sans-serif
}

.nav-option .lang-dropdown .current-con
{
	position:relative;
	z-index:3
}

.nav-option .lang-dropdown .dropdown-menu
{
	min-width:0;
	width:55px;
	height:auto;
	padding:10px 10px 5px;
	right:0;
	left:auto;
	border-radius:0;
	border:1px solid #c4c4c4;
	box-shadow:none;
	z-index:2
}

.nav-option .lang-dropdown .dropdown-menu::before
{
	content:"";
	position:absolute;
	bottom:100%;
	right:-1px;
	width:55px;
	height:25px;
	background:#fff;
	border-top:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	z-index:0
}

.nav-option .lang-dropdown .dropdown-menu .lang-list
{
	margin:0;
	padding:0;
	list-style:none
}

.nav-option .lang-dropdown .dropdown-menu .lang-list a
{
	display:block;
	font-size:11px;
	color:#9b9b9b;
	padding-bottom:3px;
	text-align:left
}

.nav-option .login>a
{
	display:block;
	padding:0 10px 0 7px;
	color:#9b9b9b;
	font-size:1.1rem;
	letter-spacing:1px;
	position:relative;
	z-index:3;
	font-family:'ne_demi',arial,sans-serif
}

.nav-option .login .dropdown-menu
{
	width:320px;
	height:auto;
	padding:30px;
	right:0;
	left:auto;
	border-radius:0;
	border:1px solid #c4c4c4;
	box-shadow:none;
	z-index:2
}

.nav-option .login .dropdown-menu::before
{
	content:"";
	position:absolute;
	bottom:100%;
	right:-1px;
	width:55px;
	height:25px;
	background:#fff;
	border-top:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	z-index:0
}

.nav-option .login .dropdown-menu.logged-in::before
{
	content:"";
	position:absolute;
	bottom:100%;
	right:-1px;
	width:31px;
	height:25px;
	background:#fff;
	border-top:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	z-index:0
}

.nav-option .login .dropdown-menu .login-form .form-group
{
	margin-bottom:10px
}

.nav-option .login .dropdown-menu .login-form .form-control
{
	padding-left:0;
	border:0;
	border-radius:0;
	background:transparent;
	border-bottom:1px solid #c5c5c5;
	box-shadow:none;
	font-family:'ne_demi',arial,sans-serif;
	font-size:1.1rem;
	letter-spacing:1px;
}

.nav-option .login .dropdown-menu .login-form .form-notic
{
	color:#f36f21
}

.nav-option .login .dropdown-menu .login-form .form-submit
{
	background:#f26f21;
	font-family:'ne_disp',arial,sans-serif;
	color:#fff;
	width:130px;
	line-height:35px;
	letter-spacing:4px;
	padding:0;
	border:none
}

.nav-option .login .dropdown-menu .login-form .form-submit:hover
{
	background:#ff9143
}

.nav-option .login .dropdown-menu .btn-logout
{
	background:#f26f21;
	font-family:'ne_disp',arial,sans-serif;
	color:#fff;
	width:130px;
	line-height:35px;
	letter-spacing:4px;
	padding:0;
	border:none
}

.nav-option .login .dropdown-menu .btn-logout:hover
{
	background:#ff9143
}

.nav-option .login .dropdown-menu .login-footer,.nav-option .login .dropdown-menu .login-nav
{
	text-align:center;
	font-family:sans-serif;
	color:#222;
	margin-top:20px
}

.nav-option .login .dropdown-menu .login-footer a,.nav-option .login .dropdown-menu .login-nav a
{
	color:#9b9b9b;
	text-decoration:underline;
	font-size:13px

}

.nav-option .login .dropdown-menu .login-footer a:hover,.nav-option .login .dropdown-menu .login-nav a:hover
{
	color:#111
}

.nav-option .login .dropdown-menu .login-footer span,.nav-option .login .dropdown-menu .login-nav span
{
	padding:0 10px;
	font-size:12px
}

.nav-option .login .dropdown-menu .login-nav
{
	text-align:left;
	margin-bottom:30px
}

.nav-option .login .dropdown-menu .login-nav a
{
	display:block;
	margin-bottom:10px
}

.nav-option .search
{
	padding:0 10px;
	cursor:pointer;
	color:#9b9b9b;
	height:13px
}

.nav-option .search .search-con
{
	position:relative;
	z-index:3
}

.nav-option .search .dropdown-menu
{
	min-width:0;
	width:300px;
	height:auto;
	padding:20px;
	right:0;
	left:auto;
	border-radius:0;
	border:1px solid #c4c4c4;
	box-shadow:none;
	z-index:2
}

.nav-option .search .dropdown-menu::before
{
	content:"";
	position:absolute;
	bottom:100%;
	right:-1px;
	width:35px;
	height:25px;
	background:#fff;
	border-top:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	border-right:1px solid #c4c4c4;
	z-index:0
}

.nav-option .search .dropdown-menu .search-form .form-group
{
	margin-bottom:0
}

.nav-option .search .dropdown-menu .search-form .form-control
{
	padding-left:0;
	border:0;
	border-radius:0;
	background:transparent;
	border-bottom:1px solid #c5c5c5;
	box-shadow:none;
	letter-spacing:1px;
	font-family:'ne_demi',arial,sans-serif;
	font-size:1.1rem;
}

.nav-option .search .dropdown-menu .search-form .form-notic
{
	color:#f36f21
}

.nav-option .search .dropdown-menu .search-form .form-submit
{
	background:#f26f21;
	font-family:'ne_disp',arial,sans-serif;
	color:#fff;
	width:110px;
	line-height:35px;
	letter-spacing:4px;
	padding:0;
	border:none
}

.nav-option .search .dropdown-menu .search-form .form-submit:hover
{
	background:#ff9143
}

.nav-footer
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	color:#949494;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 40px;
	padding-left: 10px;
}
.nav-footer .the-content i{ margin-right:10px;}
.nav-footer .the-title
{
	text-transform:uppercase;
	margin-bottom:15px
}

.nav-footer .the-title>*
{
	font-weight:600;
	font-size:1.1rem;
	letter-spacing:1px;
}

.nav-footer .the-content
{
	margin-bottom:40px
}

.nav-footer .the-content ul
{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center
}

.nav-footer .the-content ul>li
{
	display:block;
	text-align:left;
	margin:auto;
	max-width:130px
}

.nav-footer .the-social>ul
{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center
}

.nav-footer .the-social>ul>li
{
	display:inline-block;
	padding:0 5px
}

.nav-footer .the-social>ul>li a
{
	display:block;
	width:35px;
	height:35px;
	border-radius:50%;
	border:2px solid;
	line-height:33px;
	font-size:1.6rem;
	transition:all .2s
}

.nav-footer .the-social>ul>li a.youtube
{
	color:#d74b32;
	border-color:#d74b32
}

.nav-footer .the-social>ul>li a.facebook
{
	color:#465c98;
	border-color:#465c98
}

.nav-footer .the-social>ul>li a.twitter
{
	color:#00a7ed;
	border-color:#00a7ed
}

.nav-footer .the-social>ul>li a.vimeo
{
	color:#383735;
	border-color:#383735
}

.nav-footer .the-social>ul>li a:hover
{
	color:#fff
}

.nav-footer .the-social>ul>li a:hover.youtube
{
	background:#d74b32
}

.nav-footer .the-social>ul>li a:hover.facebook
{
	background:#465c98
}

.nav-footer .the-social>ul>li a:hover.twitter
{
	background:#00a7ed
}

.nav-footer .the-social>ul>li a:hover.vimeo
{
	background:#383735
}

#home-section-1>div
{
	background-color:#fff
}

#home-section-2>div
{
	background-image:url(../img/section2-bg.jpg);
	background-size:cover
}

#home-section-2 .home-tab-list-con
{
	padding:15%
}

#home-section-2 .home-tab-list-con .tab-list
{
	margin:0;
	padding:0;
	list-style:none;
	over-flow: auto;
}

#home-section-2 .home-tab-list-con .tab-list>li
{
	position:relative;
	margin-bottom:15px
}
.overflow-scroll{
	overflow: auto;
}
#home-section-2 .home-tab-list-con .tab-list>li a
{
	color:#9b9b9b;
	text-transform:uppercase;
	font-family:'ne_demi',arial,sans-serif;
	letter-spacing:1px;
	text-decoration:none
}

#home-section-2 .home-tab-list-con .tab-list>li a:after
{
	content:"";
	position:absolute;
	width:100px;
	right:100%;
	margin-right:50px;
	top:8px;
	height:1px;
	background:#000;
	opacity:0;
	transition:all .3s
}

#home-section-2 .home-tab-list-con .tab-list>li a:hover
{
	color:#606060
}

#home-section-2 .home-tab-list-con .tab-list>li a.active
{
	color:#f26f21
}

#home-section-2 .home-tab-list-con .tab-list>li a.active:after
{
	content:"";
	position:absolute;
	width:100px;
	right:100%;
	margin-right:20px;
	top:8px;
	height:1px;
	background:#000;
	opacity:1
}

#home-section-2 .home-tab-content-con
{
	height:inherit
}

#home-section-2 .home-tab-content-con .home-tab-content
{
	max-width:355px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%)
}

#home-section-2 .home-tab-content-con .home-tab-content .the-title
{
	text-transform:uppercase;
	margin-bottom:40px;
	color:#f26f21
}

#home-section-2 .home-tab-content-con .home-tab-content .the-title>*
{
	line-height:160%
}

.tab-content
{
	height:inherit
}

.tab-content .tab-pane
{
	height:inherit
}

.tab-content .tab-pane.scale-effect
{
	transform:scale(0.5) translateY(-100px);
	transition:all .5s
}

.tab-content .tab-pane.scale-effect.active
{
	opacity:0
}

.tab-content .tab-pane.scale-effect.active.animated
{
	opacity:1;
	transform:scale(1) translateY(0px)
}

.section-main-slider .owl-item
{
	width:33.33%
}

.section-main-slider .item
{
	position:relative;
	height:100vh;
	overflow:hidden;
	background-color:#e0e0e0
}

.section-main-slider .item .item-bg
{
	position:absolute;
	background-position:center;
	background-size:cover;
	left:0;
	top:0;
	width:100%;
	bottom:0;
	transition:transform 1s
}

.section-main-slider .item .overlay
{
	background:#000;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	bottom:0;
	z-index:1;
	opacity:.6;
	transition:opacity .3s
}

.section-main-slider .item:hover .overlay
{
	opacity:0
}

.section-main-slider .item.inEffect .item-bg,.section-main-slider .item.loading .item-bg
{
	transform:scale(1.2);
	transition:transform 0;
	opacity:0
}

.section-main-slider .item .animsition-overlay-slide
{
	z-index:99;
	background:#000
}

.section-main-slider .item .caption
{
	position:absolute;
	top:48%;
	left:0;
	width:100%;
	text-align:center;
	z-index:3;
	pointer-events:none
}

.section-main-slider .item .caption>span
{
	color:#fff;
	font-size:1.5rem;
	display:block;
	text-transform:uppercase;
	font-family:'ne_demi',arial,sans-serif;
	letter-spacing:2px
}

.section-main-slider .item .caption>span.title
{
	font-size:4.5rem;
	font-family:'ne_disp',arial,sans-serif;
	letter-spacing:4px;
	line-height:4rem;
	margin:0
}

.slide-animate
{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	pointer-events:none
}

.slide-animate .item-bg
{
	background-position:center;
	background-size:cover
}

.slide-animate .overlay
{
	display:none
}

.slide-animate .caption
{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
	z-index:3
}

.slide-animate .caption>span
{
	color:#fff;
	font-size:2rem;
	display:block;
	text-transform:uppercase;
	font-family:'ne_demi',arial,sans-serif;
	letter-spacing:1px
}

.slide-animate .caption>span.title
{
	font-size:5rem;
	font-family:'ne_disp',arial,sans-serif;
	line-height:normal;
	margin:0
}

.layoutHide
{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	background:#e0e0e0;
	width:0;
	z-index:999
}

.layoutHide.start
{
	width:100%
}

.layoutHide.full
{
	width:100%
}

.layoutHide.end
{
	left:0;
	right:auto
}

.center-content,.gallery-slider .elem .the-icon
{
	position:absolute;
	width:100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding-left:30px
}

.center-content.width-60,.gallery-slider .elem .width-60.the-icon
{
	width:60%
}

.center-content.width-70,.gallery-slider .elem .width-70.the-icon
{
	width:70%
}

.center-content.width-80,.gallery-slider .elem .width-80.the-icon
{
	width:80%
}

.bottom-content
{
	position:absolute;
	width:100%;
	bottom:20px;
	left:50%;
	transform:translateX(-50%)
}

.centerY
{
	position:absolute;
	top:50%;
	transform:translateY(-50%)
}

.centerX
{
	position:absolute;
	left:50%;
	transform:translateX(-50%)
}

.right-rotate-text
{
	color:#fff;
	position:absolute;
	right:30px;
	top:50%;
	transform-origin:100% 50%;
	transform:rotate(-90deg) translate(50%,50%)
}

.right-rotate-text .the-content
{
	font-size:0.9rem;
	letter-spacing:4px
}

.left-rotate-text
{
	color:#fff;
	position:absolute;
	left:30px;
	top:50%;
	transform-origin:0 50%;
	transform:rotate(-90deg) translate(-50%,-50%)
}

.left-rotate-text .the-content
{
	font-size:0.8rem;
	letter-spacing:4px
}

.col-border-right
{
	border-right:1px solid #a5a5a5
}

.box-height-10
{
	height:10vh;
	height:20vh
}

.box-height-30
{
	height:30vh
}

.box-height-40
{
	height:40vh
}

.box-height-45
{
	height:45vh
}

.box-height-50
{
	height:50vh
}

.box-height-55
{
	height:50vh
}

.box-height-60
{
	height:60vh
}

.box-height-70
{
	height:70vh
}

.box-height-80
{
	height:80vh
}

.box-height-90
{
	height:90vh
}

.box-height-100
{
	height:100vh
}

.box-bg
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	bottom:0;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	z-index:0
}

.box-bg.no-cover
{
	background-size:auto
}

#home-section-3 .section-big
{
	background:url(../img/section3-bg.jpg);
	background-size:cover
}

#home-section-3 .testimonial-title-con .testimonial-title
{
	text-transform:uppercase;
	padding:0 30px;
	padding-top:25%;
	color:#f26f21
}

#home-section-3 .testimonial-slider
{
	height:inherit
}

#home-section-3 .testimonial-slider .single-slider,#home-section-3 .testimonial-slider .item
{
	height:inherit
}

#home-section-3 .testimonial-slider .owl-buttons
{
	display:none
}

#home-section-3 .testimonial-slider .owl-pagination
{
	position:absolute;
	bottom:20px;
	right:40px
}

#home-section-3 .testimonial-slider .owl-theme .owl-controls .owl-page span
{
	width:8px;
	height:8px;
	background:#fff
}

#home-section-3 .testimonial-slider .testimonail-slider-content
{
	max-width:422px;
	margin:auto;
	padding-top:15%
}

#home-section-3 .testimonial-slider .testimonail-slider-content .the-content
{
	color:#c7c7c7;
	margin-bottom:60px
}

#home-section-3 .testimonial-slider .testimonail-slider-content .the-author
{
	color:#fff
}

#home-section-3 .testimonial-slider .testimonail-slider-content .the-author .thumbnail
{
	background:0;
	border:0;
	float:left;
	overflow:hidden;
	padding:0;
	border-radius:50%;
	width:32px;
	height:32px;
	margin-right:30px;
	margin-top:5px
}

#home-section-3 .testimonial-slider .testimonail-slider-content .the-author .thumbnail img
{
	display:block;
	margin:0;
	width:100%;
	height:auto
}

#home-section-3 .testimonial-slider .testimonail-slider-content .the-author .name
{
	font-weight:600
}

#home-section-3 .contact-address-con
{
	background:#f5f5f5;
	color:#949494
}

#home-section-3 .contact-address-con .contact-address
{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}

#home-section-3 .contact-address-con .contact-address .title
{
	font-family:'ne_demi',arial,sans-serif;
	text-transform:uppercase;
	color:#575555
}

.owl-item.loading
{
	min-height:150px;
	background:url(../img/AjaxLoader.gif) no-repeat center center
}

.footer-container
{
	height:380px
}

.footer-logo
{
	padding-top:60px;
	text-align:center
}

.footer-nav-con
{
	padding-top:60px
}

.footer-nav-row
{
	float:left;
	margin:0 20px
}

.footer-nav-row .footer-nav-title
{
	font-family:'ne_demi',arial,sans-serif;
	text-transform:uppercase;
	margin-bottom:30px
}

.footer-nav-row .footer-nav-title a
{
	color:#222
}

.footer-nav-row .footer-nav
{
	padding:0;
	margin:0;
	list-style:none
}

.footer-nav-row .footer-nav>li>a
{
	color:#a1a1a1
}

.single-slider .item
{
	width:100%
}

#contact-us
{
	background:#fff url(../img/contact-bg.jpg);
	background-position:top left;
	background-repeat:no-repeat
}

#contact-us .box-contact-map
{
	background:url(../img/contact-map.jpg);
	background-size:cover
}

#contact-us .box-contact-map .contact-map-top
{
	position:relative;
	padding-left:30px;
	padding-top:60px
}

#contact-us .box-contact-map .contact-map-top .contact-map-address
{
	color:#fff
}

#contact-us .box-contact-map .contact-map-top .contact-map-address .the-title
{
	margin-bottom:30px;
	text-transform:uppercase
}

#contact-us .box-contact-map .contact-map-top:after
{
	content:"";
	position:absolute;
	height:1px;
	right:0;
	left:30px;
	bottom:0;
	background:#a1a1a1
}

#contact-us .box-contact-map .contact-map-bottom
{
	padding-left:30px;
	padding-top:60px
}

#contact-us .box-contact-map .contact-map-bottom .contact-map-link .elem
{
	margin-bottom:5px
}

#contact-us .box-contact-map .contact-map-bottom .contact-map-link .elem a
{
	color:#fff
}

#contact-us .box-contact-form
{
	border-right:1px solid #b9b9b9;
	border-bottom:1px solid #b9b9b9
}

#contact-us .contact-form-con
{
	width:100%;
	max-width:500px;
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}

#contact-us .contact-form-con .the-title
{
	text-transform:uppercase;
	color:#434343
}

#contact-us .contact-form-con .the-content
{
	margin-bottom:35px;
	color:#9b9b9b
}

#contact-us .contact-form-con .contact-form .form-group
{
	margin-bottom:25px
}

#contact-us .contact-form-con .contact-form .form-control
{
	padding-left:0;
	border:0;
	border-radius:0;
	font-size:1.1rem;
	text-transform:uppercase;
	background:transparent;
	border-bottom:1px solid #c5c5c5;
	box-shadow:none;
	font-family:'ne_demi',arial,sans-serif;
	letter-spacing:1px;
}

#contact-us .contact-form-con .contact-form .form-notic
{
	color:#f36f21
}

#contact-us .contact-form-con .contact-form .form-submit
{
	background:transparent;
	font-family:'ne_demi',arial,sans-serif
}

#contact-us .contact-form-con .contact-form .form-submit:hover
{
	background:#eee
}

#solution
{
	/*background:url(../img/solution-bg-black.jpg);
	background-size:cover;
	background-repeat:no-repeat*/
}
.bg-strategic{background:url(../img/strategic-bg-black.jpg);
	background-size:cover;
	background-repeat:no-repeat}
	
	.bg-training{background:url(../img/training-bg-black.jpg);
	background-size:cover;
	background-repeat:no-repeat}
#solution-strategic
{
	/*background:url(../img/strategic-bg-black.jpg);
	background-size:cover;
	background-repeat:no-repeat*/
}

#solution .solution-title-con
{
	position:relative
}

#solution .solution-title-con:after
{
	content:"";
	position:absolute;
	right:0;
	top:0;
	width:1px;
	height:55%;
	background:#fff
}

#solution .solution-article-counter-con
{
	position:relative
}

#solution .solution-article-counter-con:after
{
	content:"";
	position:absolute;
	right:0;
	bottom:0;
	width:1px;
	height:30%;
	background:#fff
}

#solution .solution-title
{
	text-transform:uppercase;
	padding:0 30px;
	color:#f26f21;
	position:absolute;
	top:45%;
	transform:translateY(-50%)
}

#solution .solution-article-counter
{
	color:#fff;
	padding:0 35px;
	text-transform:uppercase
}

#solution .solution-article-counter>*
{
	font-size:1.4rem
}

#solution .solution-article-counter .the-counter
{
	float:right
}

#solution .solution-content
{
	padding:30px;
	color:#fff
}

#solution .section-big>div
{
	z-index:9
}

#solution .section-big:after
{
	content:"";
	position:absolute;
	left:0;
	right:0;
	height:1px;
	background:#fff;
	top:55%;
	z-index:0
}

.breadchumb
{
	padding:35px 25px;
	overflow:hidden;
	color:#fff
}

.breadchumb .breadchumb-list
{
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family:'ne_demi',arial,sans-serif;

}

.breadchumb .breadchumb-list>li
{
	float:left;
		font-size:1.0rem;

}

.breadchumb .breadchumb-list>li a
{
	color:#fff;
	font-size:1.0rem;
}

.breadchumb .breadchumb-list>li:after
{
	content:"\276F";
	margin:0 10px;
	font-size:0.8rem;
	line-height:1.4rem;
}

.breadchumb .breadchumb-list>li:last-child:after
{
	content:"";
	position:absolute;
	left:100%;
	width:30px;
	top:50%;
	margin-top:-1px;
	height:1px;
	background:#f36f21
}

.breadchumb.dark
{
	color:#c2c2c2
}

.breadchumb.dark a
{
	color:#c2c2c2!important
}

.breadchumb.dark .breadchumb-list>li:last-child:after
{
	background:#f36f21
}

.solution-slider
{
	padding:0 20px;
	z-index:99
}

.solution-slider .item
{
	margin:10px
}

.solution-slider .solution-item
{
	height:230px
}

.solution-slider .solution-item .thumbnail-con
{
	height:180px;
	position:relative
}

.solution-slider .solution-item .the-thumbnail
{
	position:absolute;
	top:50px;
	bottom:50px;
	left:0;
	width:100%;
	transition:all .3s;
	background-size:auto 280px;
	background-position:center center
}

.solution-slider .solution-item .the-thumbnail img
{
	width:100%;
	height:auto
}

.solution-slider .solution-item .the-title
{
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	color:#fff;
	text-transform:uppercase
}
.solution-slider .solution-item .the-title h4{ font-size:1.1rem;  line-height:1.5rem;}
.solution-slider .solution-item .the-title>*
{
	font-size:1.4rem
}

.solution-slider .solution-item .the-thumbnail:hover
{
	top:0;
	bottom:0
}

.solution-slider .owl-controls
{
	position:absolute;
	top:0;
	right:20px;
	z-index:10
}

.solution-slider .owl-controls .owl-buttons div
{
	background-color:transparent;
	background-position:center;
	background-repeat:no-repeat;
	width:25px;
	height:20px;
	opacity:.7
}

.solution-slider .owl-controls .owl-buttons div.owl-prev
{
	background-image:url(../img/solution-arrow-left.png)!important
}

.solution-slider .owl-controls .owl-buttons div.owl-next
{
	background-image:url(../img/solution-arrow-right.png)!important
}

#who-we-are
{
	background:url(../img/who-we-are-bg.jpg) right top no-repeat
}

#who-we-are .who-we-are-list-border
{
	border-right:1px solid #dadada
}

#who-we-are .who-we-are-content-border
{
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada
}

.list-style-nav-con
{
	max-width:325px;
	padding:80px 60px
}
.list-style-nav-con .the-title h4{
	font-size:1.4rem;
	letter-spacing:2px;
}
.list-style-nav-con .the-title
{
	text-transform:uppercase;
	margin-bottom:30px
}

.list-style-nav-con .the-title>*
{
	margin:0
}

.list-style-nav
{
	padding:0;
	margin:0;
	list-style:none;
	color:#fff
}

.list-style-nav>li
{
	margin-bottom:15px;
	position:relative;
	line-height:110%;
	left:0
}

.list-style-nav>li>a
{
	font-family:'ne_demi',arial,sans-serif;
	text-transform:uppercase;
	color:#333;
	font-size:1.2rem;
		letter-spacing:1px;

	text-decoration:none;
	position:relative;
	left:0;
	transition:all .3s
}

.list-style-nav>li>a:after
{
	content:"";
	position:absolute;
	left:-20px;
	top:10px;
	width:0;
	height:1px;
	transition:all .3s
}

.list-style-nav>li>a:hover
{
	left:25px
}

.list-style-nav>li>a:hover:after
{
	width:15px;
	background:#fff
}

.list-style-nav>li>a:focus
{
	left:25px;
	color:#f36f21
}

.list-style-nav>li>a:focus:after
{
	width:15px;
	background:#f36f21
}

.list-style-nav>li.active>a
{
	left:25px;
	color:#f36f21
}

.list-style-nav>li.active>a:after
{
	width:15px;
	background:#f36f21
}

.list-style-nav.font-gray>li>a
{
	color:#a9a9a9
}

.list-style-nav.font-gray>li>a:hover:after
{
	background:#a9a9a9
}

.list-style-nav.font-white>li>a
{
	color:#fff
}

.list-style-nav.font-white>li>a:hover:after
{
	background:#fff
}

.list-style-nav.orange>li>a:focus
{
	color:#f36f21
}

.list-style-nav.orange>li>a:focus:after
{
	background:#f36f21
}

.list-style-nav.orange>li.active>a
{
	color:#f36f21
}

.list-style-nav.orange>li.active>a:after
{
	background:#f36f21
}

.list-style-nav.green>li>a:focus
{
	color:#8cc63f
}

.list-style-nav.green>li>a:focus:after
{
	background:#8cc63f
}

.list-style-nav.green>li.active>a
{
	color:#8cc63f
}

.list-style-nav.green>li.active>a:after
{
	background:#8cc63f
}

.content-style-normal .the-content
{
	color:#959595
}

.content-style-normal .the-content.invert
{
	color:#fff
}

.content-style-normal .the-content.font-white
{
	color:#fff
}

.content-style-normal.padding-content
{
	padding:15%
}

.content-style
{
	padding:70px
}

.content-style .the-title
{
	text-transform:uppercase
}

.content-style .the-content
{
	color:#959595
}

.content-style .the-content.invert
{
	color:#fff
}

.content-style .the-content.font-white
{
	color:#fff
}

.content-style.padding-content
{
	padding:15%
}

.content-style-about
{
	max-width:800px;
	margin:auto;
	z-index:1;
	position:relative
}

.content-style-about .the-title
{
	color:#8cc63f;
	text-transform:uppercase;
	margin-bottom:30px
}

.content-style-about .the-title>*
{
	margin:0
}

.content-style-about .the-content
{
	color:#959595
}

.content-style-about .the-content.invert
{
	color:#fff
}

.content-style-about .the-btn
{
	border-radius:0;
	background-color:#8cc63f;
	border:0;
	text-transform:uppercase

}

.content-style-about .the-btn:hover
{
	background-color:#6aa41d
}

.content-style-about.padding-content
{
	padding:80px 15% 15%
}

div[class^='box-height-']
{
	z-index:1
}

div[class^='box-height-'].border-right
{
	border-right:1px solid #dadada
}

div[class^='box-height-'].border-bottom
{
	border-bottom:1px solid #dadada
}

div[class^='box-height-'] .border-top
{
	position:absolute;
	top:0;
	right:0;
	height:1px;
	background:#dadada
}

div[class^='box-height-'] .border-top.width-80
{
	width:80%
}

div[class^='box-height-'] .border-top.width-90
{
	width:90%
}

div[class^='box-height-'] .border-top.width-100
{
	width:100%
}

div[class^='box-height-'] .border-right
{
	position:absolute;
	top:0;
	right:0;
	width:1px;
	background:#dadada
}

div[class^='box-height-'] .border-right.height-20
{
	height:20%
}

div[class^='box-height-'] .border-right.height-40
{
	height:40%
}

div[class^='box-height-'] .border-right.height-50
{
	height:50%
}

div[class^='box-height-'] .border-right.height-60
{
	height:60%
}

div[class^='box-height-'] .border-right.height-70
{
	height:70%
}

div[class^='box-height-'] .border-right.height-80
{
	height:80%
}

div[class^='box-height-'] .border-right.height-90
{
	height:90%
}

div[class^='box-height-'] .border-right.height-100
{
	height:100%
}

.list-style-img-line.font-white
{
	color:#fff
}

#how-we-help-list
{
	color:#fff;
	max-width:800px
}

.how-we-help-list
{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center
}
.chess-slider{
	padding: 0;
	list-style: none;
}
.chess-slider .owl-prev{
	position: absolute;
	left: 0;
	top: 70%;
	font-size: 30px !important;
	background: none !important;
}
.chess-slider .owl-next{
	position: absolute;
	right: 0;
	top: 70%;
	font-size: 30px !important;
	background: none !important;
}
.chess-slider .owl-wrapper-outer{
	overflow: visible !important;
}
.chess-slider .owl-item{
	opacity: 0;
}
.chess-slider .owl-item.active{
	opacity: 1;
}
.how-we-help-list{
 	max-width: 500px;
	margin: auto;
}
.how-we-help-list li
{
	display:inline-block;
	vertical-align:bottom;
	position:relative;
	height:480px;
	max-width:110px;
	overflow: visible;
}

.how-we-help-list li>a
{
	display:block;
	text-decoration:none
}

.how-we-help-list li>a img
{
	transition:all .1s
}

.how-we-help-list li>a img.main
{
	vertical-align:bottom;
	position:relative;
	z-index:5;
	opacity:1
}

.how-we-help-list li>a img.hover
{
	position:absolute;
	bottom:0;
	left:0;
	opacity:0
}

.how-we-help-list li>a .the-thumbnail
{
	display:inline-block;
	line-height:480px
}

.how-we-help-list li>a .the-title
{
	position:absolute;
	color:#fff;
	bottom:0;
	left:0;
	right:0;
	transition:all .3s
}

.how-we-help-list li>a .the-title .the-title-text
{
	width:220px;
	padding:0 10px;
	top:-20px;
	position:absolute;
	font-family:'ne_demi',arial,sans-serif;
	text-transform:uppercase
}

.how-we-help-list li>a .the-title:after
{
	content:"";
	position:absolute;
	right:50%;
	width:1px;
	top:0;
	bottom:0;
	background:#fff
}

.how-we-help-list li>a .the-title:before
{
	content:"";
	position:absolute;
	top:0;
	height:1px;
	left:0;
	right:50%;
	background:#fff
}

.how-we-help-list li>a:hover .the-title
{
	color:#f36f21
}

.how-we-help-list li>a:hover .the-title:after
{
	background:#f36f21
}

.how-we-help-list li>a:hover .the-title:before
{
	background:#f36f21
}

.how-we-help-list li>a:hover img.hover
{
	opacity:1;
	z-index:9
}

.how-we-help-list li:nth-child(1n) .the-title
{
	text-align:right;
	top:160px
}

.how-we-help-list li:nth-child(1n) .the-title .the-title-text
{
	right:100%
}

.how-we-help-list li:nth-child(2n) .the-title
{
	text-align:right;
	top:60px
}

.how-we-help-list li:nth-child(2n) .the-title .the-title-text
{
	right:100%
}

.how-we-help-list li:nth-child(3n) .the-title
{
	text-align:left;
	top:30px
}

.how-we-help-list li:nth-child(3n) .the-title:before
{
	left:50%;
	right:0
}

.how-we-help-list li:nth-child(3n) .the-title .the-title-text
{
	left:100%
}

.how-we-help-list li:nth-child(4n) .the-title
{
	text-align:left;
	top:150px
}

.how-we-help-list li:nth-child(4n) .the-title:before
{
	left:50%;
	right:0
}

.how-we-help-list li:nth-child(4n) .the-title .the-title-text
{
	left:100%
}

.how-we-help-list li .the-content
{
	display:none;
	position:fixed;
	height:350px;
	left:0;
	right:0;
	bottom:100px;
	background:#fff;
	z-index:10
}

.box-white-bg
{
	background:#fff
}

.our-client-slider
{
	height:inherit
}

.our-client-slider .single-slider,.our-client-slider .item
{
	height:inherit
}

.our-client-slider .owl-buttons
{
	display:none
}

.our-client-slider .owl-pagination
{
	position:absolute;
	bottom:20px;
	right:40px
}

.our-client-slider .owl-theme .owl-controls .owl-page span
{
	width:8px;
	height:8px;
	background:#fff
}

.our-client-slider .our-client-slider-content
{
	max-width:422px;
	margin:auto;
	padding-top:15%
}

.our-client-slider .our-client-slider-content .the-content
{
	color:#c7c7c7;
	margin-bottom:60px
}

.our-client-slider .our-client-slider-content .the-author
{
	color:#fff
}

.our-client-slider .our-client-slider-content .the-author .thumbnail
{
	background:0;
	border:0;
	float:left;
	overflow:hidden;
	padding:0;
	border-radius:50%;
	width:32px;
	height:32px;
	margin-right:30px;
	margin-top:5px
}

.our-client-slider .our-client-slider-content .the-author .thumbnail img
{
	display:block;
	margin:0;
	width:100%;
	height:auto
}

.our-client-slider .our-client-slider-content .the-author .name
{
	font-weight:600
}

#our-client .content-maxwidth
{
	max-width:460px;
	color:#909090
}

.vertical-slider-con
{
	color:#fff;
	height:100%
}

.vertical-slider-con .vertical-slider-selected-con
{
	position:absolute;
	top:50%;
	left:80px;
	margin-top:-83px;
	width:165px;
	height:165px;
	border-radius:50%;
	border:1px solid #fff
}

.vertical-slider-con .vertical-slider-selected-con .the-title
{
	display:none
}

.vertical-slider-con .vertical-slider-selected-con .the-thumbnail
{
	display:block;
	line-height:165px;
	text-align:center;
}

.vertical-slider-con .vertical-slider-selected-con .the-thumbnail img
{
	max-width:100%;
	vertical-align:middle
}

.vertical-slider-con .vertical-slider-selected-con .vertical-line-top
{
	position:absolute;
	left:50%;
	width:1px;
	bottom:100%;
	height:900px;
	background:#fff
}

.vertical-slider-con .vertical-slider-selected-con .vertical-line-bottom
{
	position:absolute;
	left:50%;
	width:1px;
	top:100%;
	height:900px;
	background:#fff
}

.vertical-slider
{
	color:#fff;
	overflow:visible;
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	width:220px;
	z-index:9
}

.vertical-slider .swiper-wrapper
{
	height:25px
}

.vertical-slider .vertical-slider-elem
{
	margin-bottom:10px;
	text-align:right;
	max-width:140px
}

.vertical-slider .vertical-slider-elem .the-title
{
	font-size:1.2rem;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor: pointer;
	font-family:'ne_demi',arial,sans-serif;
}

.vertical-slider .vertical-slider-elem .the-thumbnail
{
	display:none
}

.vertical-slider .vertical-slider-elem.active
{
	padding:100px 0
}

.vertical-slider .vertical-slider-elem.active .the-title
{
	opacity:0
}

.vertical-slider-btn-group
{
	position:absolute;
	top:50%;
	left:100%;
	margin-left:100px;
	width:70px;
	text-align:center;
	z-index:99;
	transform:translateY(-50%)
}

.vertical-slider-btn-group .vertical-btn
{
	font-size:18px;
	cursor:pointer;
	display:block;
	padding:15px 0
}

.vertical-slider-btn-group .vertical-btn-line
{
	display:block;
	height:1px;
	width:100%;
	background:#fff
}

.vertical-slider-content
{
	height:100%;
	position:absolute;
	left:300px;
	right:0;
	top:0;
	bottom:0;
	z-index:2
}

.vertical-slider-content:after
{
	content:'';
	display:block;
	position:absolute;
	border-radius:50%;
	top:-30%;
	bottom:-30%;
	right:-50%;
	left:0;
	z-index:0;
	border:1px solid #fff
}

.vertical-slider-content .the-content
{
	position:absolute;
	left:130px;
	right:50px;
	top:50%;
	transform:translateY(-50%)
}

.circle-slider
{
	width:100%
}

.circle-slider .swiper-container
{
	width:100%;
	height:300px;
	margin:20px auto

}

.circle-slider .circle-item
{
	text-align:center;
	height:350px;
	position:relative;
	transform:scale(0.7);
	transition:all .3s
}

.circle-slider .circle-item .the-title
{
	color:#fff;
	text-transform:uppercase
}

.circle-slider .circle-item .the-thumbnail
{
	width: 100%;
	height:0;
	padding-bottom: 100%;
	line-height:300px;
	border-radius:50%;
	border:1px solid #fff;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	position: relative;
}

.circle-slider .circle-item .the-thumbnail img
{
	max-width:100%;
	height:auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}

.circle-slider .swiper-slide-active .circle-item
{
	transform:scale(1)
}

.circle-slider .circle-btn
{
	position:absolute;
	top:50%;
	margin-top:-30px;
	color:#fff;
	font-size:3rem;
	z-index:99;
	cursor:pointer
}

.circle-slider .circle-btn.circle-prev-btn
{
	left:20px
}

.circle-slider .circle-btn.circle-next-btn
{
	right:20px
}

.content-container .the-title
{
	text-transform:uppercase
}

.content-container .the-title>*
{
	margin:0;
	margin-bottom:30px
}

.content-container .the-content
{
	color:#a0a0a0
}

.content-container .padding
{
	padding:40px 60px
}

.content-container .padding-small
{
	padding:20px 30px
}
.content-container .padding-small h4
{
	font-size:1.3rem;
	letter-spacing:1px;
}

.content-container .white
{
	color:#fff
}

.content-container .orange
{
	color:#f36f21
}

.content-container .green
{
	color:#8cc63f
}

.content-container .grey
{
	color:#7b7b7b
}

.content-container .grey-light
{
	color:#9b9b9b
}

.content-container .small-margin
{
	margin-bottom:15px
}

.content-container .width-80
{
	width:80%
}

.content-slider
{
	position:relative;
	overflow:hidden;

}

.content-slider.solution-content-slider
{
	padding:0 60px;
	height:80vh
}

.content-slider.career-content-slider
{
	padding:0 60px;
	height:70vh;
	padding-bottom: 30vh;

}

.content-slider.apply-content-slider
{
	padding:0;
	height:70vh
}

.content-slider .swiper-wrapper
{
	width:100%;
	height:100%
}

.content-slider .swiper-slide
{
	font-size:18px;
	height:auto
}

.list-style-number ul
{
	list-style:none;
	margin:0;
	padding:0 0 0 55px
}

.list-style-number li
{
	position:relative;
	border-bottom:1px solid #b9b9b9
}

.list-style-number li a
{
	padding:25px 0 20px;
	display:block;
	text-decoration:none
}

.list-style-number li .the-index
{
	position:absolute;
	right:100%;
	width:55px;
	margin-right:8px;
	text-align:center;
	font-size:2.0rem;
	top:50%;
	transform:translateY(-50%);
	color:#a4a4a4
}

.list-style-number li .the-title
{
	color:#9b9b9b;
	margin:0;
	font-size:1.3rem;
	line-height:140%
}

.list-style-number li:last-child
{
	border:0
}

.list-style-number li:hover .the-index
{
	color:#f36f21
}

.list-style-number li:hover .the-title
{
	color:#555
}

.btn
{
	border-radius:0;
	position:relative
}

.btn.btn-danger
{
	background:#d1392e;
	border-color:transparent
}

.btn.btn-danger:hover
{
	background:#c0281d
}

.btn.btn-success
{
	background:#93c70b;
	border-color:transparent;

}
.btn.btn-success h5
{
font-size:1.2rem;
	letter-spacing:4px;

}

.btn.btn-success:hover
{
	background:#82b600
}

.btn.btn-warning-light
{
	background:#f69358;
	color:#fff;
	border-color:transparent
}

.btn.btn-warning-light:hover
{
	background:#e58247
}

.btn.btn-lg
{
	letter-spacing:5px;
	padding:20px;
	font-size:1.2rem;
}

.btn .btn-icon
{
	position:absolute;
	left:35px;
	font-size:1.8rem
}

.solution-content-container
{
	width:80%;
	max-width:600px;
	border-bottom:1px solid #fff;
	margin:auto;
	padding:30px 0;
	margin-bottom:30px
}

.solution-social-content-container
{
	padding:20px 20px 0
}

.solution-social-content-container .the-social
{
	display:inline-block;
	padding:7px 15px;
	color:#7c7c7c;
	text-decoration:none;
	border-radius:3px
}

.solution-social-content-container .the-social:hover
{
	background:#e5e5e5
}

.solution-relate
{
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9
}

.solution-relate .solution-relate-list
{
	margin:0;
	padding:0;
	list-style:none;
	border-left:1px solid #c9c9c9
}

.solution-relate li .elem .hover
{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,0.6);
	z-index:1;
	transition:all .3s
}

.solution-relate li .elem .the-thumbnail
{
	position:relative;
	float:left;
	width:50%;
	overflow:hidden
}

.solution-relate li .elem .the-thumbnail img
{
	width:100%;
	height:auto;
	display:block;
	z-index:0;
	position:relative;
	transition:all .3s
}

.solution-relate li .elem .the-title
{
	color:#a4a4a4;
	overflow:hidden;
	padding:20px;
	float:left;
	width:50%;
	text-transform:uppercase
}

.solution-relate li:nth-child(3n) .the-thumbnail,.solution-relate li:nth-child(4n) .the-thumbnail
{
	float:right
}

.solution-relate li:hover .elem .hover
{
	background:transparent
}

.solution-relate li:hover .elem .the-title
{
	color:#828282
}

.solution-relate li:hover .elem .the-thumbnail img
{
	transform:scale(1.1)
}

.solution-detail-nav
{
	margin-top:-1px;
	border-bottom:1px solid #c9c9c9
}

.solution-detail-nav .solution-detail-nav-list
{
	margin:0;
	padding:0;
	list-style:none
}

.solution-detail-nav li a
{
	text-decoration:none
}

.solution-detail-nav li .elem
{
	position:relative
}

.solution-detail-nav li .elem .hover
{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,0.6);
	z-index:2;
	transition:all .3s
}

.solution-detail-nav li .elem .the-thumbnail
{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	background-size:cover;
	z-index:1
}

.solution-detail-nav li .elem .the-title
{
	position:relative;
	height:120px;
	line-height:120px;
	text-align:center;
	padding:0 60px;
	color:#fff;
	z-index:2
}

.solution-detail-nav li .elem .the-title>*
{
	line-height:inherit;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.solution-detail-nav li .elem .arrow
{
	position:absolute;
	top:50%;
	color:#fff;
	z-index:3;
	transform:translateY(-45%)
}

.solution-detail-nav li .elem.prev .arrow
{
	left:20px
}

.solution-detail-nav li .elem.next .arrow
{
	right:20px
}

.solution-detail-nav li:hover .elem .hover
{
	background:rgba(0,0,0,0.4)
}

.swiper-container-vertical>.swiper-scrollbar
{
	right:0;
}

#gallery .section-big:after,#knowledge-pool .section-big:after
{
	content:"";
	position:absolute;
	left:0;
	right:0;
	height:1px;
	background:#fff;
	top:54%;
	z-index:0
}

#gallery .section-big:before,#knowledge-pool .section-big:before
{
	content:"";
	position:absolute;
	left:33%;
	bottom:0;
	height:20vh;
	width:1px;
	background:#fff;
	z-index:1
}

.gallery-slider
{
	padding:0 20px;
	margin-top:30px;
	z-index:99
}

.gallery-slider .item
{
	margin:10px
}

.gallery-slider .elem
{
	position:relative;
	height:0;
	padding-bottom:56%;
	transition:all .3s;
	z-index:1;
	overflow:hidden
}

.gallery-slider .elem .hover
{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,0.6);
	z-index:2;
	transition:all .3s
}

.gallery-slider .elem .the-thumbnail
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	transition:all .3s;
	background-size:cover;
	background-position:center center
}

.gallery-slider .elem .the-thumbnail img
{
	width:100%;
	height:auto
}

.gallery-slider .elem .the-title
{
	position:absolute;
	bottom:15px;
	left:0;
	width:100%;
	padding:0 20px;
	color:#fff;
	text-transform:uppercase;
	z-index:3
}

.gallery-slider .elem .the-title>*
{
	font-size:1.3rem
}

.gallery-slider .elem .the-icon
{
	text-align:center;
	position:absolute;
	z-index:3;
	color:#fff;
	padding:0;
	top:40%;
	font-size:3rem
}

.gallery-slider .elem:hover .the-thumbnail
{
	transform:scale(1.2)
}

.gallery-slider .elem:hover .hover
{
	opacity:.2
}

.gallery-slider .owl-controls
{
	position:absolute;
	bottom:100%;
	right:20px;
	z-index:10
}

.gallery-slider .owl-controls .owl-buttons div
{
	background-color:transparent;
	background-position:center;
	background-repeat:no-repeat;
	width:25px;
	height:20px;
	opacity:.7
}

.gallery-slider .owl-controls .owl-buttons div.owl-prev
{
	background-image:url(../img/solution-arrow-left.png)!important
}

.gallery-slider .owl-controls .owl-buttons div.owl-next
{
	background-image:url(../img/solution-arrow-right.png)!important
}

.video-container
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	bottom:0;
	background:#000
}

.video-container .video-option
{
	padding-top:10px
}

.video-container .video-option .close
{
	padding:15px 25px 10px;
	opacity:.7
}

.video-container .video-elem
{
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden
}

.video-container .video-elem iframe,.video-container .video-elem object,.video-container .video-elem embed
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

.gallery-container
{
	background:#000;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	bottom:0
}

.gallery-container .gallery-option
{
	position:relative;
	z-index:9;
	padding-top:10px
}

.gallery-container .gallery-option .close
{
	padding:15px 25px 10px;
	opacity:1
}

.gallery-container .swiper-container
{
	width:100%;
	margin-left:auto;
	margin-right:auto
}

.gallery-container .swiper-slide
{
	background-size:cover;
	background-position:center
}

.gallery-container .swiper-slide .elem
{
	display:block;
	width:100%;
	max-width:800px;
	margin:0 15px;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%)
}

.gallery-container .swiper-slide .the-thumbnail
{
	height:0;
	padding-bottom:57.5%;
	overflow:hidden;
	background-size:cover;
	background-position:center
}

.gallery-container .swiper-slide .the-title
{
	position:absolute;
	bottom:100%;
	margin-bottom:10px;
	left:0;
	right:100px;
	color:#fff
}

.gallery-container .swiper-slide .social
{
	position:absolute;
	right:0;
	bottom:100%;
	color:#fff;
	margin-bottom:10px
}

.gallery-container .swiper-slide .social .btn-share:hover
{
	color:#fff;
	background:#222
}

.gallery-container .gallery-button-next
{
	position:absolute;
	right:50px;
	top:50%;
	color:#fff;
	font-size:2rem;
	z-index:9;
	cursor:pointer
}

.gallery-container .gallery-button-next.swiper-button-disabled
{
	opacity:.4
}

.gallery-container .gallery-button-prev
{
	position:absolute;
	left:50px;
	top:50%;
	color:#fff;
	font-size:2rem;
	z-index:9;
	cursor:pointer
}

.gallery-container .gallery-button-prev.swiper-button-disabled
{
	opacity:.4
}

.gallery-container .gallery-top
{
	position:absolute;
	top:0;
	bottom:80px;
	left:0;
	width:100%
}

.gallery-container .gallery-thumbs
{
	position:absolute;
	bottom:0;
	height:80px;
	box-sizing:border-box
}

.gallery-container .gallery-thumbs .swiper-slide
{
	width:125px;
	height:100%;
	opacity:.4
}

.gallery-container .gallery-thumbs .swiper-slide-active
{
	opacity:1
}

.form-container .form-group
{
	margin-bottom:10px;
	position:relative
}

.form-container .form-icon
{
	position:absolute;
	left:5px;
	bottom:0;
	line-height:34px;
	color:#9c9c9c
}

.form-container .form-icon+input
{
	padding-left:30px
}

.form-container .form-control
{
	padding-left:0;
	border:0;
	border-radius:0;
	background:transparent;
	border-bottom:1px solid #c5c5c5;
	box-shadow:none;
	font-family:'ne_demi',arial,sans-serif;
	font-size:1.3rem
}

.form-container .form-text
{
	color:#777
}

.form-container .form-text a
{
	color:#777;
	text-decoration:underline
}

.form-container .form-notic
{
	color:#f36f21
}

.form-container .form-submit
{
	background:#f26f21;
	font-family:'ne_demi',arial,sans-serif;
	color:#fff;
	width:148px;
	line-height:35px;
	padding:0;
	border:none
}

.form-container .form-submit:hover
{
	background:#ff9143
}

.form-container.apply-form
{
	max-width:80%;
	margin:auto
}

.white-popup
{
	position:relative;
	background:#FFF;
	padding:20px;
	width:auto;
	max-width:700px;
	margin:20px auto;
	
	display:block;
	padding-bottom: 80px;
}

.white-popup-full
{
	position:relative;
	background:#FFF;
	margin:20px -8px;
	display:block;
	padding:20px;
	padding-bottom: 80px;

}
.career-list {  }

.career-list fwhite-popup .panel
{
	border:0
}

.career-list .panel-heading
{
	background:#fff;
	border:0;
	border-bottom:1px solid #b9b9b9;
	box-shadow:none;
	padding:0
}
.panel-group{ }

.career-list .panel-title
{
	font-family:"Myriad Pro",sans-serif;
	text-transform:uppercase;
	height:50px
}

.career-list .panel-title a
{
	text-decoration:none
}

.career-list .panel-title .number
{
	width:60px;
	font-size:3rem;
	line-height:50px;
	text-align:center;
	float:left;
	border-right:1px solid #b9b9b9;
	color:#bfbfbf
}

.career-list .panel-title .the-title
{
	padding-left:10px;
	line-height:50px;
	font-size:1.2rem;
	color:#9d9d9d
}

.career-list .panel-body
{
	border-top:none!important;
	color:#7c7c7c;
	padding:25px;
	padding-left:60px
}

.career-list .panel-body .btn
{
	margin-right:10px
}

.download-slider
{
	width:230px;
	height:420px;
	margin-left:60px;
	margin-right:100px
}

.download-slider .elem
{
	width:280px;
	height:400px
}

.download-slider .the-thumbnail
{
	width:280px;
	height:420px;
	background-size:cover;
	background-position:center;
	margin-bottom:10px
}

.download-slider .the-thumbnail img
{
	width:100%;
	height:auto;
	display:block
}

.download-slider .the-title
{
	color:#8dc53f;
	opacity:0;
	padding-right:20px
}

.download-slider .the-content
{
	color:#fff;
	opacity:0;
	padding-right:20px
}

.download-slider .swiper-slide-prev
{
	opacity:0
}

.download-slider .swiper-slide-active .the-title
{
	opacity:1
}

.download-slider .swiper-slide-active .the-content
{
	opacity:1
}

.download-btn-group
{
	position:absolute;
	right:20px;
	top:50%;
	transform:translateY(-50%);
	color:#fff;
	z-index:99;
	cursor:pointer
}

.download-btn-group .download-btn.download-prev-btn
{
	font-size:2rem;
	float:left;
	margin:0 10px
}

.download-btn-group .download-btn.download-next-btn
{
	font-size:2rem;
	float:left;
	margin:0 10px
}

.mfp-fade.mfp-bg
{
	opacity:0;
	-webkit-transition:all .15s ease-out;
	-moz-transition:all .15s ease-out;
	transition:all .15s ease-out
}

.mfp-fade.mfp-bg.mfp-ready
{
	opacity:.8;
}

.mfp-fade.mfp-bg.mfp-removing
{
	opacity:0;
}

.mfp-fade.mfp-wrap .mfp-content
{
	opacity:0;
	-webkit-transition:all .15s ease-out;
	-moz-transition:all .15s ease-out;
	transition:all .15s ease-out;

	transform: translateY(200px);
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
{
	opacity:1;
	transform: translateY(0)
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
	transform: translateY(200px);

}

.g-social
{

	color:#fff;
	margin-top:13px
}

.g-social .btn-share:hover
{
	color:#fff;
	background:#222
}

.section-main-slider .owl-prev{
	position: absolute;
	left: 10px;
	top: 47%;
	color: #ffffff;
	background: transparent !important;
	font-size: 3rem !important;
}

.section-main-slider .owl-next{
	position: absolute;
	right: 10px;
	top: 47%;
	color: #ffffff;
	background: transparent !important;
	font-size: 3rem !important;
}

.control-label{
	padding-top: 8px;
}

.edu-count{
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 15px;
	font-size: 14px;
	color: #888888;
}

#byBTS{
	width: 800px; 
	height: 300px;
	padding: 40px;
	top: auto;
	max-width: 80%;
	margin: 0 auto; background-color: white;}

.bg-red{ background-color: red; }

.wrap-text{
  white-space: nowrap;
  text-overflow: ellipsis;}

 .section-main-slider .owl-controls .owl-page span{ display: none; }

