/* Small devices (tablets, 768px and up) */
.career-list .panel-title{ background-color: white; border-bottom:1px solid #b9b9b9;}


.solution-detail-nav li .elem.current .the-title {
  color: #999999 !important; }

.mobile-header {
  display: none; }

.mobile-close {
  position: absolute;
  right: 100%;
  width: 40px;
  height: 40px;
  background: #ffffff;
  padding: 5px;
  display: none; }
  .mobile-close img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .3; }


@media (max-width: 1100px) {
  .nav-option .login .dropdown-menu,
  .nav-option .search .dropdown-menu,
  .nav-option .lang-dropdown .dropdown-menu {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 100px;
    width: auto;
    z-index: 2; }

  .nav-option .lang-dropdown .dropdown-menu {
    text-align: center; }
    .nav-option .lang-dropdown .dropdown-menu li {
      padding: 15px 0; }
      .nav-option .lang-dropdown .dropdown-menu li a {
        text-align: center !important; }

  .nav-option .login .dropdown-menu::before,
  .nav-option .search .dropdown-menu::before,
  .nav-option .lang-dropdown .dropdown-menu::before {
    display: none; }

  .nav-option .login .dropdown-menu .login-form .form-submit,
  .nav-option .search .dropdown-menu .search-form .form-submit {
    width: 100%;
    margin: 15px 0; }

  .dropdown.open:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }

  .nav-option {
    margin-right: 0; }

  .owl-theme .owl-controls {
    margin: 0; }

  .fullpage-wrapper {
    transform: none !important; }

  .section-big {
    width: 100%;
    position: static;
    right: 0; 
   }

  .section-small {
    position: fixed; }

  .section {
    overflow: hidden !important;
    width: 100%; }

  .section-small {
    display: none;
    width: 100%;
    background: none;
    height: 60px;
    padding: 0;
    z-index: 9; }

  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 15px;
    padding-top: 15px;
    display: block; }
    .mobile-header .mobile-logo {
      float: left; }
    .mobile-header .mobile-tiggle {
      float: right;
      background: #ffffff;
      color: #6a6a6a;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 17px;
      line-height: 42px; }

  #container > .section:first-child .section-small {
    display: block; }

  html {
    overflow: auto !important; }

  .fp-section,
  .fp-slide,
  .fp-tableCell,
  .fp-scrollable {
    height: auto !important;
    overflow: visible; }

  .header {
    position: fixed;
    right: -250px;
    top: 0;
    bottom: 0;
    transition: all 0.2s;
    background: #ffffff;
    height: 100vh;
    width: 250px;
    float: right; }
    .header .nav-header {
      display: none; }
    .header.active {
      right: 0; }
      .header.active .mobile-close {
        display: block; }

  #home-section-2 .home-tab-content-con .home-tab-content {
    width: 100%;
    padding: 0 15px; }

  .box-sm-height-auto {
    height: auto; }

  .testimonial-slider {
    padding: 0 15px; }

  #home-section-3
{
  background:url(../img/section3-bg.jpg);
  background-size:cover
}
#home-section-3 .contact-address{  height: 30vh; }
#home-section-3 .col-sm-4{}
#home-section-3 .box-height-70 { height: 70vh; }

  #home-section-3 .testimonial-slider .owl-pagination {
   
    right: 50%;
    transform: translateX(50%);  }
  #home-section-3 .testimonial-slider { }

  .footer-container {
    height: auto; }

  .footer-logo {
    display: none; }

  .footer-nav-row {
    padding-left: 20px;
    float: left;
    width: 50%;
    display: block;
    margin: 0;
    margin-bottom: 20px; }

  #home-section-3 .contact-address-con .contact-address {
    position: static;
    padding: 30px 0;
    transform: translate(0);
    width: 100%; }

  .list-style-nav-con {
    padding: 110px 5px 15px 15px;
    max-width: none;
    margin-bottom: 20px;
    z-index: 1;
    position: relative; }

  .list-style-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.4); }

  .list-style-nav > li {
    padding: 20px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

  .content-container .padding,
  .content-container .padding-small {
    padding: 15px; }

  .centerY {
    position: static;
    top: auto;
    transform: translate(0); }

  .breadchumb {
    display: none; }

  .content-style {
    padding: 15px; }

  .circle-slider {
    padding: 40px; }

  .circle-slider .circle-btn {
    margin-top: -10px;
    transform: translateY(-50%); }

  .circle-slider .circle-btn.circle-prev-btn {
    left: 5px; }

  .circle-slider .circle-btn.circle-next-btn {
    right: 5px; }

  .circle-slider .circle-item {
    height: auto; }

  .how-we-help-list {
    margin: 30px 0; }

  .how-we-help-list li {
    display: block;
    height: auto;
    max-width: none;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px; }

  .how-we-help-list li > a .the-thumbnail {
    line-height: normal;
    float: left; }
    .how-we-help-list li > a .the-thumbnail > img {
      height: 80px; }
    .how-we-help-list li > a .the-thumbnail .hover {  top: 0px;
    }

  .how-we-help-list li > a .the-title {
    position: static;
    text-align: left !important;
    height: 100px;
    padding-top: 20px;
    margin-left: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    display: block; }

  .how-we-help-list li > a .the-title .the-title-text {
    position: static;
    text-align: left !important;
    width: auto;
    padding: 0; }

  .how-we-help-list li > a .the-title:before,
  .how-we-help-list li > a .the-title:after {
    display: none; }

  .how-we-help-list li > a {
    text-align: left; }

  .center-content {
    padding: 15px; }

  .center-content {
    position: static;
    transform: translate(0);
    padding-left: 15px; }

  .chess-slider .owl-prev {
    position: static; }

  .chess-slider .owl-next {
    position: static; }

  .our-client-slider {
    padding: 0 15px; }

  .our-client-slider .our-client-slider-content {
    padding-top: 0; }

  #contact-us .contact-form-con {
    position: static;
    transform: translate(0);
    padding: 10px; }

  #contact-us .contact-form-con .contact-form .form-submit {
    display: block;
    width: 100%;
    margin: 15px 0;
    background: #f26f21;
    color: #ffffff; }

  #gallery .section-big:before, #knowledge-pool .section-big:before,
  #gallery .section-big:after, #knowledge-pool .section-big:after {
    display: none; }

  .gallery-slider {
    margin-bottom: 60px; }

  .download-btn-group {
    right: 0;
    width: 100%;
    top: 30%; }

  .download-btn-group .download-btn.download-prev-btn {
    font-size: 3rem !important; }

  .download-btn-group .download-btn.download-next-btn {
    float: right;
    font-size: 3rem !important; }

  div[class^='box-height-'].border-bottom {
    border-bottom: 0; }

  .section-big.static {
    height: auto; }

  .solution-relate li:nth-child(3n) .the-thumbnail, .solution-relate li:nth-child(4n) .the-thumbnail {
    float: left; }

  .solution-relate-list {
    padding-left: 15px !important; }

  .gallery-container .gallery-option {
    position: absolute;
    top: 40px;
    right: 0px; }

  .content-container .the-title > * {
    margin-bottom: 0; }

  .gallery-slider .owl-controls {
    bottom: 45%;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1; }

  .solution-slider .owl-controls {
    bottom: 40%;
    top: auto;
    right: 0;
    left: 0;
    z-index: 1; }

  .solution-slider {
    position: static; }

  .solution-slider .owl-wrapper-outer,
  .gallery-slider .owl-wrapper-outer {
    z-index: 9; }

  .solution-slider .owl-controls .owl-buttons div.owl-prev,
  .gallery-slider .owl-controls .owl-buttons div.owl-prev {
    float: left;
    pointer-events: none;
    z-index: 0; }

  .solution-slider .owl-controls .owl-buttons div.owl-next,
  .gallery-slider .owl-controls .owl-buttons div.owl-next {
    float: right;
    pointer-events: none;
    z-index: 0; }

  .solution-slider .solution-item .the-thumbnail {
    top: 0;
    bottom: 0; }

  #solution .solution-article-counter {
    padding: 0 15px; }

  #solution .solution-content {
    padding: 0;
    margin-bottom: 25px; }

  .solution-slider {
    padding: 0; }

  .content-slider.solution-content-slider {
    padding: 0; }

  .right-rotate-text {
    display: none; }

  #solution .section-big:after {
    display: none; }

  .download-slider {
    margin-left: 23px; }

  .content-slider.career-content-slider {
    padding: 0 15px; }

  .mobile-padding {
    padding: 20px 0; }

  .career-list .panel-body {
    padding: 15px; }

  .career-list .panel-title .number {
    position: absolute; }

  .career-list .panel-title .the-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 60px;
    overflow: hidden;
    display: block; }

  .career-list .panel-body .btn {
    width: 100%;
    margin: 0 0 10px 0; }

  .form-container .form-submit {
    width: 100%;
    margin: 0 0 10px 0; }

  .mobile-fix-padding {
    padding: 0 15px; }

  


  #section-footer .col-sm-4{  display: none; }

  #section-footer .col-sm-8{ width: 100%; }

/*}

@media only screen and (max-width: 800px) {*/

body{font-size:80%;}
*{font-size:1.5rem;}

.fp-section,
.fp-slide,
.fp-tableCell{
    height: auto !important;
}
.section-main-slider .owl-controls .owl-page span{ display: block; }

.section-main-slider .owl-controls
{
  position:absolute;
  left:0;
  bottom: 10px;
  z-index:10000;
  width: 100%;
}
h3{ font-size: 3rem; }
/* Contact us*/
#contact-us .box-height-60{ height: auto; padding-bottom: 20px; }
#contact-us .box-height-40{ height: auto; padding-top: 0px; top: 0; margin-top: 0px;}
#contact-us .box-contact-map .contact-map-bottom{padding-left:30px;padding-top:20px}
#contact-us .box-contact-map .contact-map-top .contact-map-address{margin-left: 0px;}
#contact-us .box-contact-form{margin-top: -180px; background-color: white;}
#contact-us .contact-form-con{width:90%;}

/* About us*/
.content-style-about.padding-content{padding:20px 5% 5%}
.content-style-normal.padding-content{padding:5%}
.list-style-nav>li>a{font-size: 1.7rem;}

/* Singnature products */

.vertical-next-btn{  }
.vertical-prev-btn{}
.vertical-slider-btn-group{  left: 50%; }
.vertical-slider-btn-group .vertical-btn-line{}

/*.vertical-line-top{ display: none; }
.vertical-line-bottom{display: none;}*/
.vertical-slider-con{  left: 20%;}
.vertical-slider-con .vertical-slider-selected-con
{

  left: 15%;
  margin-left: -80px;
 
}
.vertical-slider {  left: 80%; margin-left: 20px; width: auto; }
.vertical-slider .vertical-slider-elem{ }
.vertical-slider .vertical-slider-elem .the-title
{
 
 left:50%;
 text-align: left;

 display: none;
}
.vertical-slider-con .vertical-slider-selected-con .the-thumbnail
{
  display:block;
  text-align:center;

}

.vertical-slider-content {
    padding: 0;
    left: 50%;
    margin-left: -120px;
    width: 40vw;
    
    top: 50%;
    margin-top: -150px;

   }

  .vertical-slider-content.active {
    display: block;
    color: #333333 !important; }

  .vertical-slider-content:after {
    display: none; }

  .vertical-slider-content .the-content {
    position: static;
    transform: translate(0);
    padding: 0 15px; }

  .vertical-slider-btn-group {
    transform: translate(0);
    left: 100%;
    right: auto;
    top: 42%;
    margin: 0;
    margin-left: 30px; }

  .vertical-slider-con .vertical-slider-selected-con {
    z-index: 9999; } 


.the-title h3{font-size: 2.5rem; padding-bottom: 20px; padding-top: 20px;}

.vertical-slider-con .vertical-slider-selected-con .the-thumbnail img
{
  width:60%;
  vertical-align:middle ;

}
.box-height-100 
{
}
.nav-option .lang-dropdown .dropdown-menu .lang-list a
{
  display:block;
  font-size:11px;
  color:#9b9b9b;
  height: 40px;
  width: 100%;

  z-index: 99999999;


}
#contact-us .box-contact-map .contact-map-bottom .contact-map-link 
{
}

#contact-us .box-contact-map{ height: 600px;}

iframe{ height: 80vh; }
#byBTS{ height: 80vh;  }

.col-sm-8 .box-height-100{ height:auto;  }
.content-slider.career-content-slider{ height:auto;}
}



/*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*/
@media only screen and (max-width: 1024px) {
/* Singnature products */
.vertical-slider-content {
    top: 30%;
    height: 80vh;
    overflow: hidden;
    margin-left: -150px;

   }

}
/* SS Tab */
@media only screen and (max-width: 1280px) {.vertical-slider-content { overflow: hidden; } }
@media only screen and (max-width: 800px) { 
  .vertical-slider-content { margin-left: -100px; overflow: hidden; height: 50vh; top: 40%; }  
  .vertical-slider-content .the-content{}
  .vertical-slider-btn-group{ left: -20px; }
}
@media only screen and (max-width: 769px) {


#home-section-3{ }
#home-section-3 .box-height-70 { height: auto; }
#home-section-3 .testimonial-title-con .testimonial-title{ padding-top:5%; margin-top: 0px;}
#home-section-3 .testimonial-slider-con{ padding-bottom: 80px; padding-top:5%; top: 0px;}
#home-section-3 .testimonial-slider .owl-pagination { bottom: -50px; }

#home-section-2 .box-height-50{}
#home-section-2 .box-height-100{ height: 80vh; }

.box-height-60 {height: auto; padding-bottom:0px;}
.box-height-60 .list-style-nav-con{ height: auto; padding-bottom: 0px; }
.box-height-40 .list-style-nav-con { height:auto; padding-top:0px; margin-top: 0px; }
.box-height-40 .list-style-nav-con .list-style-nav {border: 0;}

.content-slider.career-content-slider{ height:auto;}
.content-slider{}

.col-sm-8 .box-height-100{ height:auto;}
.career-list .panel-title{ background-color: white; }
.col-sm-9 .box-height-100{  height: 80vh;}


/* Singnature products */
.vertical-slider-content {
    top: 30%;
    height: 65vh;
    overflow: hidden;
    margin-left: -100px;

   }
.vertical-slider-btn-group{ left: -20px; }


/* Singnature products */
/*.vertical-slider-content {
    padding: 0;
    left: 0px;
    margin-left: 0px;
    width: 70vw;
    background-color: red;
    
   }
.the-content{ background-color: blue; }
.vertical-slider-con .vertical-slider-selected-con
{

   border:0;
   top: 50px;
   top: 150px;
 
}

.vertical-slider { }
.vertical-slider .vertical-slider-elem{ }
.vertical-slider-btn-group{ left: -50px; top: 100px;}
.vertical-line-top{ display: none; }
.vertical-line-bottom{display: none;}*/

}

/*SS S6 S7 edge*/

@media only screen and (min-width: 360px) and (max-width: 640px)  { 
  .vertical-slider-content { display: none }  
  .vertical-slider-content .the-content{}
  .vertical-slider-btn-group{ left: -100px;  top: 50px;}
  .vertical-line-top{ display: none; }
  .vertical-line-bottom{display: none;}
  .vertical-slider-con .vertical-slider-selected-con{top: 100px;left: 30%;}
}

/* iPhone 4*/
@media only screen and (max-width: 320px) {
/* Singnature products */
.vertical-slider-content {
    width: 100vw;

   }
  
}

