/*--------------------------- Artists ---------------------------*/    
#artists{}
#artists .content{ width: 100%; height: 100vh; position: relative; top: 0; left: 0; background-color: blue; }
#artists .cd-select{top: -10px; }
#artists .selectMonth{ background-color: red; position: relative; right: 20px; top: 30px; z-index: 1000;}
.selected-artists{}
.selected-artists ul li{ width: 3.8%; position: relative; float: left; text-align: center; padding: 0px;  font-family: 'loveloblack';
font-size: 1.3rem;}

#page-wrap { 
    width: 100%; height: 100vh;
    transition: all 250ms ease-in-out;

    
}

#main-content { padding: 14px; }

#artists .album{ width:50%; height:40vw; }

#artists .category{}
#artists .category ul{ }
#artists .category ul li{ width: 20%; position: relative; float: left;height: 100px; padding-top: 40px; text-align: center; 
border-bottom:1px solid #cbcbcb;    transition: all 250ms ease-in-out;}
#artists .category ul li.current {border-bottom:8px solid #183c77;}
#artists .category ul li:hover{  border-bottom:8px solid #183c77; color: #183c77 }

#artists-category{ text-align: center; }

#artists-category .item{  

  padding: 0px 0px;
  height: 80px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 35px;
  top: 0;
  /*cursor: pointer; */
  border-bottom:0px solid #cbcbcb;    transition: all 250ms ease-in-out;

}
#artists-category .item:hover{  border-bottom:8px solid #183c77; color: #183c77 }
#artists-category .item.current{border-bottom:8px solid #183c77; color: #183c77 }
#artists-category  .owl-controls
{
  position:absolute;
  bottom: 0px;
  bottom: -15px;
  z-index:10;
  width: 100%;
   display: flex;
  -webkit-justify-content: center; 
  justify-content: center; 


}
#artists-category  .owl-controls .owl-page span{
  display: block;
  width: 5px;
  height: 5px;
  margin: 5px 7px;
  filter: Alpha(Opacity=30);/*IE7 fix*/
  opacity: 0.3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #616161;
}


#artists-geners{}
#artists-geners .item{  position:relative;
  padding: 0px 0px;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  top: 0;
  border-radius: 3px; 
    cursor: pointer;
}
#artists-geners .item.active{opacity: .5;}
#artists-geners .item-bg{ background-position:center; background-size:cover;border-radius: 3px;  }
#artists-geners .item .mask {opacity: .3; position: absolute;width: 100%; height: 100%; padding: 0px; border-radius: 3px;  }
#artists-geners  h5{position: absolute; color: #FFF; z-index: 1000; width: 100%; top: 40%; text-align: center;}

#artists-geners  .owl-controls
{
  position:absolute;
  bottom: 0px;
  bottom: -35px;
  z-index:10;
  width: 100%;


}
#artists-geners  .owl-controls .owl-page span{
  display: block;
  width: 5px;
  height: 5px;
  margin: 5px 7px;
  filter: Alpha(Opacity=30);/*IE7 fix*/
  opacity: 0.3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #616161;
}
#artists-geners  .owl-controls .owl-page.active span,
#artists-geners  .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  background-color: #183c77;
}



#artists-cat .item{ background-color: gray; height: 100px; position: relative; margin: 5px;  border-radius: 3px;   padding: 0px; margin: 0px;}
#artists-cat .item-bg{ background-position:center; background-size:cover; }
#artists-cat .item .mask {opacity: .3; position: absolute;width: 100%; height: 100%; padding: 0px;  }
#artists-cat  h5{}

#artists #left-section span{position: relative;  float: left; }
#artists #left-section{ position: relative; width: 25%; height: 100vh; float: left; text-align: center; padding-top:5vh; }
#artists #left-section .container-inner{ width: 80%; height: 100%; }

#artists #right-section{ position: relative; width: 75%; float: left;  padding: 0px; margin: 0px;}

#artist-sync2{}
#artist-sync2 .item{position:relative; height:60vh; }
#artist-sync2 .item-bg{ 
    
    padding: 10px 0px;
    margin: 0px;
    width: 150px;
    height: 150px;
    left: 50%;
    margin-left: -75px;

    

    -webkit-border-radius: 3px;
    position: relative;;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;

  background-position:center;
  background-size:cover;
 

  }

#artist-sync2 .item .social{  width: 200px; height: 50px; left: 50%; margin-left: -100px; position: relative;}
#artist-sync2 .item .social>ul
{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  font-size:1.4rem;
  color: #FFF;

}

#artist-sync2 .item .social>ul>li
{
  display:inline-block;
  padding:0 15px;

}

#artist-sync2 .item .social>ul>li a
{
  display:block;
  width:40px;
  height:40px;
  border-radius:50%;
  border:1px solid;
  line-height:36px;
  font-size:1.4rem;
  left: 50%;
  margin-left: -20px;
  position: relative;

  margin-bottom: 5px;
  background-color: #183c77;
  color: #FFF;

  transition:all 250ms ease-in-out;


}

#artist-sync2 .item .social>ul>li a:hover
{
  color:#183c77;
  background-color: #FFF;
}

#artist-sync2 .item .social>ul>li a:hover.youtube
{
  background:#d74b32
}


#artist-sync1{}
#artist-sync1 .item{position:relative;height:100vh;}
#artist-sync1 .item-bg
{
  position:absolute;
  background-position:center;
  background-size:cover;
  left:0;
  top:0;
  width:100%;
  bottom:0;

}
#artist-sync1 .item .mask {
  opacity: .3;
  position: absolute;
  width: 100%; height: 100%;
  z-index: 10000;
  margin-left: -20px;
}
#artist-sync1 .owl-controls
{
  position:absolute;
  float: left;
  left: 100%;
  margin-left: -300px;
  bottom: 70px;

  z-index:10;
 
}
#artist-sync1 .owl-controls .owl-buttons div
{
  background-color:transparent;
  background-position:center;
  background-repeat:no-repeat;
  width:80px;
  height:40px;
  opacity:1;
  position: absolute;
 
  transition:all 250ms ease-in-out;
}
#artist-sync1 .title{ position: absolute; bottom: 100px; float: right; right: 100px; width: 300px; height: auto; z-index: 10000; }

#artist-sync1 .month-sec{ position: absolute; z-index: 3000; top: 0; float: left;}


#artist-sync1 .owl-controls .owl-buttons div.owl-prev{background-image:url(../img/arrow-left.png); left: 0px;}
#artist-sync1 .owl-controls .owl-buttons div.owl-next{background-image:url(../img/arrow-right.png);left: 150px;}

#owlStatus{ position: absolute; right: 150px; bottom: 40px; width:auto;}
.currentItem{position: relative; float: left;  padding-left: 5px; padding-right: 5px;}
.owlItems{position: relative; float: left;  top: 0; padding-left: 5px; padding-right: 5px;}

