
label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container-mix{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #68b8c4;
  
  -webkit-backface-visibility: hidden;
}

.container-mix:after{
  content: '';
  display: inline-block;
  width: 100%;
}

/*.container-mix .mix,
.container-mix .gap{
  display: inline-block;
  width: 10%;
  height: 10vw

}

.container-mix .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

.container-mix .mix.category-1{
  border-top: 2px solid limegreen;
}

.container-mix .mix.category-2{
  border-top: 2px solid yellow;
}

.container-mix .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container-mix .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}*/

@media all and (min-width: 420px){
  /*.container .mix,
  .container .gap{
    width: 32%;
  }*/
}

@media all and (min-width: 640px){
  /*.container .mix,
  .container .gap{
    width: 23.5%;
  }*/
}