/*--------------------------- Playlists ---------------------------*/  


#playlists{ }
#playlists .left-section{  height: auto; width: 20%;  position: relative; float: left; border-right:1px solid #d5d5d5;border-left:1px solid #d5d5d5;  }
#playlists .left-section .content{ padding: 0px; width: 100%; height: 100%; margin: 0 auto; }
#playlists .left-section .content .img{ width: 100%; height: auto; }
#playlists .left-section .content  img{ width:100%; height: auto;  }
#playlists .left-section .content  span{ display: block; width: 100%; position: relative; float: left;  }

#playlists .cd-form { background-color: red; width: 80px; }

#playlists .left-section .content  .img img{ width:100%; height: auto; border-radius: 3px; }
#playlists .left-section .content  .img .mask { opacity: .5; position:absolute; width: 100%; height: auto; float: left;   transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;}
#playlists .left-section .content  i{ padding-right: 10px; font-size: 1.2rem;}



#playlists .right-section{ height: 100%; width: 80%;  position: relative;float:left; border-right:1px solid #d5d5d5; }

#playlists-cat .item{ height: 110px; position: relative; margin: 5px;  border-radius: 3px; cursor:pointer; padding: 0px;}
#playlists-cat .item-bg{ background-position:center; background-size:cover; }
#playlists-cat .item .mask { opacity: .5; position:absolute; width: 100%; height: 100%; float: left;   transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;  border-radius: 3px; }
#playlists-cat .CoverImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
 


}
#playlists-cat .item:hover .mask { opacity: 0;}
#playlists-cat .item h5{ position: absolute; color: #FFF; z-index: 1000; width: 100%; top: 40%; text-align: center; }

/*.playlists-item {width:15.65%; height:15.65vw; margin:0.5%; float:left; position: relative;  }*/
.playlists-item {width:18.5%; height:18.5vw; max-height: 277px; max-width: 277px; margin:.68%; margin-bottom: 50px; float:left; position: relative;  }
.playlists-item img{  }
.playlists-item .desc{  position: absolute; bottom: -25px; }
.playlists-item .mask { opacity: .5; position:absolute; width: 100%; height: 100%; float: left;    transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;   border-radius: 3px; }
.playlists-item h5{ position: absolute; color: #FFF; z-index: 1000; width: 100%; bottom: 10%; text-align: left; padding-left: 10%;padding-right: 10%;  }
.CoverImage {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  width: 100%;
  height: auto;
  border-radius: 3px; 
   width: 100%;
  height: 100%;
}
.CoverImageX2 {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120%;
  height: 120%;
  position: fixed;
  left: -5%;
  top: -5%;


}
.playlists-item:hover .mask{ opacity: 0; }
#playlist a{}
#playlist a:active {}

.list-group{}
.list-group-item{ display: block; width: 100%; padding: 20px; position: relative; float: left; border-bottom:1px solid #d5d5d5;transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; }

.list-group-item.active{background-color:#183c77; color: white; }

.list-group-item.nav-is-visible {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.group{ padding: 20px ;display: block; width: 100%;position: relative; float: left;  border-top:1px solid #d5d5d5;  border-bottom:1px solid #d5d5d5;}
.group .list{width: 5%; position: relative; float: left;}
.group .title{width: 50%; position: relative; float: left;}
.group .artist{width: 15%; position: relative; float: left;}
.group .album{width: 10%; position: relative; float: left;}
.group .time{width: 10%; position: relative; float: left; letter-spacing: .3rem;}
.group .download{width: 10%; position: relative; float: left;}
.group i{padding-right: 20px;}

.list-group-item .list{width: 5%; position: relative; float: left;}
.list-group-item .title{width: 50%; position: relative; float: left;}
.list-group-item .artist{width: 15%; position: relative; float: left;}
.list-group-item .album{width: 10%; position: relative; float: left;}
.list-group-item .time{width: 10%; position: relative; float: left; letter-spacing: .3rem;}
.list-group-item .download{width: 10%; position: relative; float: left;}
.list-group-item i{padding-right: 20px; font-size: 1.2rem;}
.list-group-item a{ transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in;}
.list-group-item a:hover{opacity: .5;}
.list-group-item:hover{ background-color:#183c77; color: white;  }
.list-group-item:hover a{ color: white;  }


.head-con-playlists{  }
.head-con-playlists .desc{ width: 100%; height: auto; padding-left: 3vw; position: absolute; bottom: 0px; font-size: 1.7rem; 
}

.desc-con{ width: 100%;  height: auto; position: relative; bottom: 0px; 
  display: flex; 
  justify-content: left;
}
.desc-con .album{ width:200px; height:200px;  padding-right: 0px; position: relative; }
.desc-con .album .CoverImage{}
.desc-con .line{ top: 0px; }
.desc-con i{padding-right: 10px; font-size: 1.2rem;}

#playlist-detail{width: 80%;}

.playlists-lists{ 
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
.lists{display: flex; justify-content: left; flex-wrap: nowrap; left: 0px; }
.item1{width: 40px; }
.item2{width: 25%; }
.item3{width: 200px; float: right; }


.head-con-playlists .desc .album{ width: 250px; height: 250px;  padding-right: 0px; position: relative;  }
.head-con-playlists .desc .line{ top: 0px; }

.head-con-playlists .overlay{ position: fixed; }

.head-con-playlists .desc i{ padding-right: 10px; font-size: 1.3rem; }
.head-con-playlists .release{ position: absolute; float: right; bottom:0px; text-align: right; right: 0px; padding-right: 40px; padding-bottom: 40px;  }
.head-con-playlists .mask { opacity: .8; position:absolute; width: 100%; height: 500px; top: 0px; left: 0px; margin-top: 0px;}

.song-thumb{ width: 45px; height: 45px;  background-position: center; background-repeat: no-repeat; background-size: cover;border-radius: 50%; position: relative; float: left; top: 8px; }
.song-thumb .mask{ border-radius: 50%; width: 45px; height: 45px; position: absolute;  }
.song-thumb.active{

    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.track{}
.player{}
.player .section{ border-right:1px solid #d5d5d5; height: 100%; padding: 20px;  }
.player i{ font-size: 2rem; }
.player button{ cursor:pointer; width: 100px; height: 100px ; border-radius: 50%; border: none; left: 50%; margin-left: -50px; top: 50%; margin-top: 10px; position: relative; background-color:rgba(66, 139, 202, .8);transition: all 0.2s ease-in;  
  -webkit-transition: all 0.2s ease-in;}
.player button:hover{ background-color:rgba(66, 139, 202, 1);}



ul, li { list-style: none; }
.mainContainer { margin:0 auto; width:100vw; }
#controlContainer{ 
  display:inline-block; 
  float:left;  
  width: 100%; 
  padding-bottom: 10px; 
  padding-top: 10px;  
  border-top:1px solid #d5d5d5;  
  border-bottom:1px solid #d5d5d5;  
  
  position: relative;
  
}
.containerPlayer { 
  display:inline-block; 
  float:left;  
  width: 100%; 

  position: relative;
;
}
.containerPlayer .title{ background-color:rgba(66, 139, 202, 1.8); }

.snippet { width:70%; border:1px solid #ababab; border-radius:5px; min-height:280px; max-height:280px; color:#fff; background-color:#343434; margin-top:1rem;  }
.snippet:nth-child(2) { margin-top:2rem; }
.snippet pre { max-height:230px; padding:5px; }
.snippet h4 { padding:10px; color:#343434; background-color:#00bd9b; }

.list-detail{width: 100%; padding-top: 40px;}

#playlists-detail #listContainer { width:100%; background-color:none; margin-left: 20%;  }


/* Playlist */
#listContainer { width:80%; background-color:none; margin-left: 20%;  }
#listContainer ul { clear: both;  }
#listContainer ul h1 { background-color: 535353; clear: both; font-size: 2rem; font-family: "thai_sans_literegular", sans-serif; letter-spacing: .5px; font-weight: bold;}
#listContainer ul h1 i{ font-size: 1.3rem; padding-right: 20px; }
#listContainer li { display: block; /*cursor: pointer;*/ padding-bottom: 5px; padding-top: 5px; }
#listContainer li .thumb{  width: 35px; height: 35px; position: relative; padding-bottom: 0; margin:0px;}
#listContainer li .thumb .mask{  width: 35px; height: 35px; margin-top: -3px; position: absolute; opacity: .3; margin-top: 0px; }
#listContainer li .thumb img{  width: 100%; height: auto; border-radius:3px; }
#listContainer li .thumb img.active{  width: 150%;}
#listContainer li .pad-top-5{padding-top: 0;}
#listContainer li a { text-decoration: none; padding: 0px; margin: 0; top: 0; }
#listContainer li:nth-child(even) { background-color:rgba(0, 0, 0, .1); transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in;}
#listContainer li:hover, #listContainer li:nth-child(even):hover { /*background-color:rgba(81, 155, 233, .2);transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; */}
#listContainer li:hover a, #listContainer li:nth-child(even):hover a {  }
#listContainer li.activeAudio,#listContainer li:nth-child(even).activeAudio {background-color:rgba(81, 155, 233, .2);}
#listContainer li.activeAudio a{ }

/* Player Controls */
#playerContainer { width:100%;   }

.controls {margin:0px; padding:0; top:15px; left: 15px; position: relative; float: left;}
.controls li:first{margin-right:0px}
.controls li { float:left; display:inline-block; width:40px; text-align:center; margin-top:0px;margin-left:0px }
.controls li a { display:inline-block; }

.playAudio,.play { background: url('../img/audio_icons.png') no-repeat -2px -35px; width: 32px; height: 32px; margin:auto; margin-left: 5px; }
.playAudio:hover { background: url('../img/audio_icons.png') no-repeat -2px -3px; }

.pauseAudio { background: url('../img/audio_icons.png') no-repeat -36px -35px; width: 32px; height: 32px; margin:auto; }
.pauseAudio:hover { background: url('../img/audio_icons.png') no-repeat -36px -3px; }

.shuffle { background: url('../img/audio_icons.png') no-repeat -28px -96px; width: 32px; height: 32px; margin:auto;  opacity:0.5;  }
.shuffleActive, .shuffle:hover { background: url('../img/audio_icons.png') no-repeat -28px -71px; width: 32px; height: 32px; margin:auto; opacity:1; }

.left { background: url('../img/audio_icons.png') no-repeat -60px -99px; width: 24px; height: 24px; margin:auto; margin-top:4px; opacity:0.5; }
.left:not(.disabled):hover { opacity:1; }
.left.disabled, .right.disabled { opacity:0.4; cursor:default; }

.right { background: url('../img/audio_icons.png') no-repeat -88px -75px; width: 24px; height: 24px; margin:auto; margin-top:4px;  opacity:0.5; }
.right:not(.disabled):hover { opacity:1; }

.repeat { background: url('../img/audio_icons.png') no-repeat -4px -103px; width: 21px; height: 21px; margin:auto; margin-top:7px; opacity:0.5; }
.repeat:hover, .repeat.loopActive { background: url('../img/audio_icons.png') no-repeat -4px -79px; opacity:1;}

.volume { width: 20px; height: 20px; margin-left:5px; margin-right:5px; float:left; background: url('../img/audio_icons.png') no-repeat; }
.volume1 { background-position: -5px -150px; }
.volume2 { background-position: -5px -198px; }
.volume3 { background-position: -5px -246px; }
.mute { background-position: -34px -127px; }

.progress { clear:both; height:5px; background-color:#c7d2d9; width:100%; top: 28px; cursor:pointer; position:relative; border-radius:5px; }
.progress .updateProgress { width:0px; background-color:#2f9ce8; height:100%; float:left; position:relative; border-radius:5px; top: 1px;}
.seekableTrack { width: 0%; background-color:#a9b1b7; height: 5px; position: absolute; z-index: 0; display: block; border-radius:5px;}
.seekableTrack, .progress .updateProgress { -webkit-transition: width 0.6s ease; -moz-transition: width 0.6s ease; -o-transition: width 0.6s ease; transition: width 0.6s ease; }


.volumeControl { position: absolute; margin-top: 18px; margin-right: 0px ; float: right; right: 0px; padding-right: 45px; }
.volumeControl .updateProgress { display:inline-block; vertical-align:middle; margin-top:2px; }
input[type="range"] { -webkit-appearance: none; -moz-appearance: none; background-color: #2f9ce8; height: 2px; }

.audioDetails { clear:both;  font-size:1.8rem; padding:0px; }
.audioTime { text-align: right; float: left; margin-top: 21px; margin-left: 20px;}
.songPlay { margin-top: 11px; }
.songAlbum{ font-size: 1.6rem; }

.eq i{position: absolute; left: 15px; }
.eq .icon{ margin-top: 10px; opacity: 0; }
.eq .icon.active{ margin-top: 10px; opacity: 1;}
.bars-eq {
  height: 30px;
  position: relative;
  top: -5px; 
  left: 12px;
  width: 40px;
  display: block;
  padding: 0px;
}

.bars-eq.active{
     
}

.bar-eq {
    background: #FFF;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
    display: none; 
}
.bar-eq.active{
    display: block; 
}


@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 15px;        
    }
}

.bar-eq:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar-eq:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar-eq:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar-eq:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar-eq:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar-eq:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar-eq:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar-eq:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar-eq:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar-eq:nth-child(10) { left: 37px; animation-duration: 442ms; }​

.download-song{float: right; right:0px; margin-right: 30px;}
#playList .cd-select{ width: 150px; float: right; padding: 0px; top: 0px; box-shadow:none;  }
#playList .cd-select select{

  border: none;
  width: 150px;
  min-width: 100px;
  padding: 0px;
  top: 0px;
  left: 0px;
  height: 40px;
  box-shadow:none; 
  background:none;
  font-size: 1.1rem;
  color: white;

  height: 20px;
 

}




.download{  width: 200px; height: 50px; left: 50%; margin-left: -100px; position: relative;}
.download>ul
{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  font-size:1.4rem;
  color: #FFF;

}

.download>ul>li
{
  display:inline-block;
  padding:0 15px;

}

.download>ul>li a
{
  display:block;
  width:40px;
  height:40px;
  border-radius:50%;
  border:1px solid;
  line-height:36px;
  font-size:1.4rem;
  left: 50%;
  margin-left: -20px;
  position: relative;

  margin-bottom: 5px;
  background-color: #183c77;
  color: #FFF;

  transition:all 250ms ease-in-out;


}

.download>ul>li a:hover
{
  color:#183c77;
  background-color: #FFF;
}

