
/*----Player ------*/
.parent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 60px;
  bottom: 0px;
  z-index: 90000;
  background-color: none;
  /*border-top:1px solid #ababab;
  border-bottom:1px solid #ababab;*/
  background-color:rgba(0, 0, 0, .3); 

  width: 80%;
  left: 0px;
  margin-left: 20%;


}

.item-1 {
  width: 40px;
  text-align: center;
}

.item-2 {
  width: 50%;
  text-align: center; 
}

.item-3 {
  width: 80px;
}

.item-3-1 {
  width: 60px;
  text-align: right;
  color: #13a89e;
}

.item-4 {
  width: 30px;
  text-align: center;
  margin-right: 1rem;
}

.item-4 img {
  width: 56px;
  height: 50px;
}

.item-5 {
  width: 15%;
}

.item-6 {
  width: 10px;
  text-align: center;

}

.item-7 {
  width: 10px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;

}

.item-9 {
    width: 220px;
  text-align: center;

}

.item {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.progress {
    height: 3px;
    width: 100%;
    background-color: #C0C0C0; 
    position: relative;
    top: 24px;
}

.progress .bar {
    height: 100%;
    background-color: #13a89e;
    width:50%;
}


.song-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-name {
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  color: #BDBDBD;
}

@media (max-width: 780px) {
  .progress {
    display: none;
  }
  .progress .bar {
    display: none;
  }
  .item-2 {
    display: none;
  }
  .item-3-1 {
    display: none;
  }
   .item-3 {
    display: none;
  }
  .main-item:nth-child(7){
    order: -2
  }
  .main-item:nth-child(8){
    order: -2
  }
  .item-1 {
    width: 20%
  }
  .item-5 {
    width: 200px;
  }
  .txt-al-l {
    text-align: left;
  }
  .txt-al-r {
    text-align: right;
  }
  
}
@media (max-width: 767px) {
  .item-1 {
    width: 40px;
  }
    .item-5 {
    min-width: 75px;
  }
  .btn-lic {
    font-size: 13px;
    padding: 5px 16px;
  }
}

@media (max-width: 480px) {
  .item {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
  .item-6 {
    width: 5px;
  }
  .item-7 {
    width: 10px;
  }
}
