/* Responsive Stylesheet */

/* Hide Responsive Elements */

/* By Height */


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */


/* #Base 960 Grid
================================================== */

	
/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (max-width: 1500px) {

  /*.playlists-item {width:11.1%; height:11.1vw; }*/


}

@media only screen and (max-width: 1400px) {
		  /*.playlists-item {width:12.1%; height:12.1vw; }*/
}

@media only screen and (max-width: 1200px) {
  .playlists-item {width:14%; height:14vw;} 
  .h-tab{ display: none; }
   .list-detail{ padding: 0px; width: 100%;  padding-top: 40px;}


}
@media only screen and (max-width: 1024px) {

	#owlStatus-hi-light{  height: 30px; margin-top:0px; top: 350px;}
	#footer .col-2 img{ width: 60%; margin-left: 0px;}
  .playlists-item{ width:34.9%; height:34.9vw; }

}
@media only screen and (max-width: 959px) {

  .h-mob{ display: none; }
  .s-mob{ display: block;}
   h1{ font-size: 6rem; }
   #tab-con .item{ width: 100%; }
   
   /*-- Artists --*/
   #artists .col-15{width: 100%;  }
   #artists .cd-select{width: 100%; }

  .playlists-item{ width:31.9%; height:31.9vw; }

   #artists #right-section{width: 100%; }
   #hilight-news .item{height: 40vw;}

   #hilight .col-75{ width: 100%;}
   #hilight .col-25{ width: 100%;}
   #owlStatus-hi-light{ top: 60px; left: 80%;}

   #contact .col-3{width: 100%; height: 150px;}
   #contact .col-5{width: 100%;}
    
   #news .col-25{ width: 100%; }
   #news .cd-form .cd-select{ width: 100%; }
   #news .col-75{ width: 100%; }

   #owlStatus-hi-light{ margin-top: -50px; }
   .h-tab{ display: none; }
   #controlContainer .col-2{ width: 30%; }

}
	
@media screen and (max-device-width: 800px) {
	
		
}



/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 414px) {

  .desc-con .album{ width: 10px; height: 10px; background-color: red;display: none;}
  .desc-con .album .CoverImage{display: none;}

  #playlists .album-desc{ width: 100%; margin-left: -20px;}
  #listContainer { width:100%; background-color:none; margin-left: 0;  }

  #footer .col-2{ width: 200%; background-color: red; display: none;}
  #footer .col-2 img{ width: 80%; margin-left: -40px;}

  #intro #title{ margin-top: 50px; width: 80%; margin-left: -40%; }

  #intro h1{ padding-bottom: 50px; }
  #intro h6{padding-bottom: 50px; }

  #owlStatus-hi-light{  height: 50px; margin-top:-10px;  width: 80px; margin-left: 20px;}
  #playlist-detail{ width: 200vw; margin-left: -30px; }


  /*#footer .col-2{ width: 100%;}
  #footer .col-2 img{ width: 80%; margin-left: -40px;}
  #footer .col-1{ width: 45%; }
  #footer .col-25{width: 100%; padding-bottom: 20px; }*/

}
@media only screen and (max-width: 736px) {

   #intro #title{ top: 40vh; }
 h1{ line-height: 3rem; font-size: 3rem; }
    #intro h1{ padding-bottom: 30px; }
    #intro h6{padding-bottom: 30px; }
}

@media only screen and (max-width: 768px) {
    
    html {font-size: 80.5%;}
    .h-mob{ display: none; }
    .s-mob{ display: block;}

     #intro #title{ top: 25vh; }

    #album .head-con-playlists{height: 20vh;}

    /*h2{ font-size: 2rem; }
    h3{ font-size: 1.7rem; }*/

    /*-- Artsist --*/
    #artists .category ul li{ width: 100%; display: block; height: 20px; padding-top: 20px; padding-bottom: 30px; }
    #artists .playlists-item p{ font-size: 1.4rem; }

    #tab-con .item{ width: 100%; }
    #artists #right-section{width: 100%; }
    #hilight-news .item{height: 450px; margin-top: -20px;}
    /*#hilight-news #owlStatus-hi-light{ background-color: red; }*/
    #owlStatus-hi-light{  height: 50px; margin-top:-10px;}
    .currentItem-hi-light{}
    .owlItems-hi-light{}

    /*----News -------*/
    #news .col-25{ width: 100%; }
    #news .col-75{ width: 100%; }
    #news .col-33{ width: 100%; padding-bottom: 20px; }
    #news .col-7{ width: 100%;}
    #news .col-7 h3{ margin-top: -40px;}
    #news .col-3{ width: 100%; padding-bottom: 20px; margin-top: -20px;}
    #news .col-65{ width: 100%; margin-top: -60px;}
    #news #hilight .col-75{ width: 100%;}
    #news #hilight .col-25{ width: 100%;}
    #news #owlStatus-hi-light{ top: 20px; left: 25%; background-color: red;}

    #news .calendar{ margin-top: -20px; }

    /*---- About-------*/
    #about .col-6{ width: 100%; margin-top: -80px;}
    #about .col-5{ width: 100%;  }
    #about .head-con{ height: 200px; }

    .cd-form textarea,.cd-form select {padding: 10px;}

    /*---- About-------*/

    #contact .col-2{width: 100%; height: 150px;}
    #contact .col-6{width: 100%;}
    #contact .h-250{ height: 350px; }


    .contact-con{ width: 90%; margin-left: -45vw;}

    #artists .album{ width:100%; height:50vw; }

    #intro .owl-controls .owl-buttons div{ display: none; }
    #hilight-news .owl-controls .owl-buttons div{ display: none; }
    #hilight-news{margin-top: 40px;}
    #hilight-news .owl-controls{ display: block; width: 100%; left: 0px; bottom: 0px; }
    #hilight-news .owl-controls .owl-page span{ display: block; }

    /*---- Playlists-------*/
    
   /* #artis-detail .head-con-playlists{height: 100vh;}
    .head-con-playlists{height: 10vh;}*/

    .head-con-playlists .track span{display: block; }
    .desc-con{}
    .desc-con .album{ width: 120px; height: 120px;  }
    #playlists .album-desc{ width: 80%; margin-left: -10px; }

    .item2{ width: 150%;  } 
    #footer {padding: 20px;}

    #footer .col-2{ width: 45%;}
    #footer .col-2 img{ width: 50%; margin-left: -40px;}
    #footer .col-1{ width: 45%; }
    #footer .col-25{width: 100%; padding-bottom: 20px; }

    .playlists-item{ width:45%; height:45vw;}
    .cd-breadcrumb{margin-top: 115px; margin-left: 20px;}
    #playlists h5{ padding-left: 10px; }

    #controlContainer .col-2{ width: 100%; }
    #controlContainer .col-45{ width: 100%; padding: 0px; padding-right: 20px }
    #controlContainer .col-05{ width: 20%; }
    #controlContainer .song-thumb{  }
    #controlContainer .song-thumb .mask{ }
    #controlContainer .controls{  }
    #playListContainer .col-25{ width: 80%;background-color: red; padding-left: 0px; }
    #playListContainer .col-15{ }
    #playListContainer li{ padding-left: 20px; }
		
}
/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	

}

@media only screen and (min-width: 240px) and (max-width: 320px) {
	
	
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */
   
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */

}
