/* -------------------------------- 
Font
-------------------------------- */
@font-face {
    font-family: 'loveloblack';
    src: url('../assets/fonts/lovelo_black-webfont.eot');
    src: url('../assets/fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lovelo_black-webfont.woff2') format('woff2'),
         url('../fonts/lovelo_black-webfont.woff') format('woff'),
         url('../fonts/lovelo_black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../fonts/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neueextra_bold';
    src: url('../fonts/thaisansneue-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* -------------------------------- 
Primary style
-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "thaisans_neueregular", sans-serif;
  /*font-family: Tahoma, Geneva, sans-serif;*/
  line-height: 2rem;
  letter-spacing: .05rem;
  color: #9a9ea2;
  background-color: #FFF;

}

a {
  color: #9a9ea2;
  text-decoration: none;
}
i {
 	font-size:1.1rem;
}

h1,h2,h3,h4,h5{ font-family: 'thaisans_neueextra_bold', sans-serif; /*font-weight: 400;*/ 	text-transform: uppercase; 
}
h1{    
  /* font-family: 'loveloblack';*/
   font-size: 7.5rem;
   line-height: 7.5rem;
   letter-spacing: 0rem;
   font-weight: 400;
}
h2{/*font-family: 'loveloblack';*/
   font-size: 6rem;
    line-height: 6rem;
   letter-spacing: 0rem;}
h3{/*font-family: 'loveloblack';*/
   font-size: 3rem;
    line-height: 3rem;
   letter-spacing: 0rem;}
h4{

   /*font-family: 'loveloblack';*/
   font-size: 1.6rem;
    line-height: 1.6rem;
   letter-spacing: 0rem;
}
h5{
   /*font-family: 'loveloblack';*/
   font-size: 1.7rem;
    line-height: 1.7rem;
   letter-spacing: 0rem;
}
h6{ 
   /*font-family: 'loveloblack';*/
   font-size: 0.8rem;
    line-height: 0.8rem;
   letter-spacing: 0rem;
 }
.wrapper{
  overflow:hidden; 
  width:100%;
  height:100%;
}
input {
  
}
input:focus {
    
}
input:focus + i {
   
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: red;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: red;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.bg-soon{ width: 100vw; height: 100vh; background-image: url("assets/img/bgsoon.jpg"); background-position:center; background-size:cover; left: 0; top: 0; background-color: red;}
.bg-soon h1{ width: 100vw; text-align: center; background-color: red; height: auto;}


.layoutHide
{
  position:absolute;
  top:0;
  left: 0;
  float: left;
  background:gray;
  width:100%;
  height: 100%;
  z-index:999;

}

.layoutHide.start
{
  width:100%
}

.layoutHide.full
{
  width:100%
}

.layoutHide.end
{
  left:0;
  right:auto
}
/*------------header---------------*/
header{ 
  height:auto; 
  padding-top:20px; 
  padding-bottom:20px; 
  position:absolute; 
  z-index:100; 
  min-height:100px;  
  top: 0px;
  background-color: none;

  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;

    -webkit-transition-delay:.2s; /* Safari */
    transition-delay: .2s;

    opacity: 1;
}
header.moveUp {top: -110px; opacity: 0;}
header.moveDown {top: 0px; opacity: 1;}

header.bgwhite {background-color: #FFF;}

header #logo{ float:left; position:relative; padding-top:5px;}
header .nav{
	width:100%;
	position:absolute;
	text-align: center;
	margin-top:15px;
  left: 0;
}
header .nav-wrapper{
			background: rgba(0,0,0,.1);
			position: absolute;
			top: 0;
			left: 0;
			}
header.nav > ul{
			margin: 0;
			padding: 0;
			text-align: center;}
header .nav > ul > li{
			display: inline-block;
			padding: .1rem 2rem;
			}
header .nav > ul > li:last-child{
				padding-right: 0;
				border-right: none;}
header .nav > ul > li > a,
header .nav > ul > li > span{
	 font-family: "loveloblack", sans-serif;
	 display: inline-block;
 	 padding: .8rem .8rem;
	letter-spacing: 0.2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	outline: 0;
	color: #FFF;
	
}
header .nav li.active a{
	color:#F00;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
header .nav > ul > li > ul{
				display: none;}
				
/*---------------------------Intro----------------*/		
#intro{ width:100%; height:100vh; position:relative;}	

#intro #title{z-index: 100; width: 60%; left: 50%; margin-left: -30%;  position: absolute; top: 40vh; text-align: center; text-transform:uppercase; }
#intro #viewmore{ width: 140px; position: relative;}
#intro h1{ padding-bottom: 60px; }
#intro h6{padding-bottom: 80px; font-size: 2rem; }

#bar{width: 0%;max-width: 100%;height: 4px;background: #1663a9;}
#progressBar{width: 100%;background: #15324b; position: absolute; z-index: 2000; }

#intro .item
{
  position:relative;
  height:100vh;

}

#intro .item .item-bg
{
  position:absolute;
  background-position:center;
  background-size:cover;
  left:0;
  top:0;
  width:100%;
  bottom:0;
  transition:transform 1s
}

#intro .item .overlay
{
  background:#030b18;


  position:absolute;
  left:0;
  top:0;
  width:100%;
  bottom:0;
  z-index:1;
  opacity:.6;
  transition:opacity .3s
}

#intro .item img{
    display: block;
    width: 100%;
    height:auto;

}
#intro .owl-controls
{
  position:absolute;
  bottom: 50px;
  left:0;
  z-index:10;
  width: 100%;
}

#intro .owl-controls .owl-buttons div
{
  background-color:transparent;
  background-position:center;
  background-repeat:no-repeat;
  width:80px;
  height:20px;
  opacity:.5;
  top: 50%;
  position: absolute;
 
    -webkit-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
  transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);


}


#intro .owl-controls .owl-buttons div.owl-prev
{
  left: 40px;
  top:-45vh;
  background-image:url(../img/arrow-left.png);


}
#intro .owl-controls .owl-buttons div.owl-prev:hover
{
  left:30px;
}

#intro .owl-controls .owl-buttons div.owl-next
{
  right:20px;
  top:-45vh;
  background-image:url(../img/arrow-right.png);
}

#intro .owl-controls .owl-buttons div.owl-next:hover
{
  right:10px;
}

#owlStatus-intro{ position: absolute; right: 50%; margin-right: -30px; top: 10%; width:auto; z-index: 20;}
.currentItem-intro{position: relative; float: left;  padding-left: 5px; padding-right: 5px;}
.owlItems-intro{position: relative; float: left;  top: 0; padding-left: 5px; padding-right: 5px;}


/*---------------------------Content----------------*/   
.head-con { height: 165px; z-index: 1000; top: 0; left: 0}
.head-con h5{ float: right; right: 0; margin-right: 50px; top: 130px; text-align: right;}
.head-con .line{ top: 90px; }

.cd-form .cd-select {
  /* select element wapper */
  position: relative;
 
}
.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
/*---------------------------News----------------*/    
#news{}
#news .col-2{ width: 30%; }
#news .col-35{ width: 30%; }
#news .col-65{ width: 70%; }

#news .cd-select{right: 0px;float: right; margin-right: 0px; margin-top: -10px;}
#news .header-con{ 
  float: left;
  position: relative; 
  height: 200px; 
  width: 100%; 
  background:url(../img/header-news.jpg) center center no-repeat;
  background-position:center; 
  background-size:cover;
}
#news .header-con .line{ position: relative; height: 1px; width: 100%; float: left; margin-top: 100px; }
#news #tab-con{ position: relative; width: 100%; height: 100vh; margin: 0px; padding-bottom: 40px;}

#news #tab-con .item{ 
  position:relative;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  text-align: left;
  padding: 0px;
}
#news #tab-con .item .thumb-img{ 
  
}
#news #tab-con .item .thumb-img img{ 
  width: 100%; 
  fill: cover;
}
#news #tab-con .item .icon{ 
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
   -webkit-transition: all 0.4s cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
    transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    z-index: 1000;
    opacity: 0;transform: scale(1);

      background-color: black;
      border-radius:50%;
      width: 30px;
      height: 30px;
  
}
#news #tab-con .item .icon i{ left: 12px; position: absolute; top: 10px;}


#news #tab-con .item img {
   width: 100%;
 height: auto;
 transform: scale(1);
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
#news #tab-con .item p {
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.2s ease-in;
  padding-left: 40px;
  padding-top: 2%;
  width: 80%;
}
#news #tab-con .item h5 {
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.2s ease-in;
   padding-left: 40px;
  padding-top: 10%;
  z-index: 2;
  width: 90%;

}

#news #tab-con .item .mask {
  opacity: 0.5;
  position: absolute;
  width: 100%; height: 100%;
  z-index: 100;

}
#news #tab-con .item:hover {background-color: #183c77;}
#news #tab-con .item:hover img {transform: scale(1.2);}
#news #tab-con .item:hover .mask {opacity: 1;}
#news #tab-con .item:hover h5 {color: white;}
#news #tab-con .item:hover p {color: white;}
#news #tab-con .item:hover .icon { transform: scale(1.5) rotate(0deg); opacity: 1;   }




#news #tab-list-con{ padding-top: 30px; text-align: center; }
#news #tab-list-con .tab-list
{
  margin:0;
  padding:0;
  list-style:none;
  over-flow: auto;
  display: block;
}

#news #tab-list-con .tab-list > ul{
      margin: 0;
      padding: 0;
      text-align: center;}
#news #tab-list-con .tab-list > ul > li{
      display: inline-block;
      padding: .1rem 2rem;
      }
#news #tab-list-con .tab-list > ul > li:last-child{
        padding-right: 0;
        border-right: none;}
#news #tab-list-con .tab-list > ul > li > a,
#news #tab-list-con .tab-list > ul > li > span{
  
   display: inline-block;
   padding: .8rem .8rem;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
 
  
}
#news #tab-list-con .tab-list li.active a{
  color:#F00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
#news #tab-list-con .tab-list > ul > li > ul{
        display: none;}

/*-------- Recond icon -----------*/
.record {
  border-radius:50%;
  position:absolute;
  width: 100px;
  height: 100px;
  left: 50%; margin-left: -50px; top: 50%; margin-top: -45px;
  background:url(../img/record.png) center center no-repeat;
  overflow:hidden;

}
.record.active{

    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/*--------------------------- Hilight ---------------------------*/  

#owlStatus-hi-light{ position: absolute; left:0px; float: left; margin-left: 70px; bottom: 100px; width:auto; z-index: 20000;}
.currentItem-hi-light{position: relative; float: left;  padding-left: 5px; padding-right: 5px;}
.owlItems-hi-light{position: relative; float: left;  top: 0; padding-left: 5px; padding-right: 5px;}

#hilight-news{} 
#hilight{}
#hilight #left-section span{position: relative; height: 40px; width: 100%; float: left; }
#hilight #left-section{ position: relative; width: 25%; height: 100vh; float: left; text-align: left;  padding-top: 10%; }
#hilight #left-section h4{ padding-bottom: 50px;}
#hilight h4{ font-size: 2.5rem; line-height: 2.5rem; }

#hilight #right-section{ position: relative; width: 75%; float: left; top: 10vh}
#hilight-news .item
{
  position:relative;
  padding: 0px 0px;
  height: 30vw;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  top: 0;

 
  /*-webkit-transition: all 0.4s cubic-bezier(0.680, 0, 0.265, 1); 
  transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);*/
}


#hilight-news .item .item-bg
{
  position:absolute;
  background-position:center;
  background-size:cover;
  left:0;
  top:0;
  width:100%;
  bottom:0;
  opacity: 1;
  /*transform: scale(1);
   -webkit-transition: all 0.4s cubic-bezier(0.680, 0, 0.265, 1); 
  transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);*/
}

#hilight-news .item .mask {
  opacity: .5;
  position: absolute;
  width: 100%; height: 100%;
  z-index: 100;
  padding-right: 10px;
  bottom: 0px;
  height: 50%;


  /*transition:all 250ms ease-in-out;*/

}
#hilight-news .item .desc {

  position: absolute;
  width: 100%; height: auto;
  z-index: 1000;
  padding-right: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  bottom: -80px;
  /*transition:all 250ms ease-in-out;*/

}
#hilight-news .wrapper {
  overflow: hidden;
  width:100%;
  height:100%; top: 0px; left: 0px; z-index: 3000;}

#hilight-news .item h5{ padding-bottom: 20px;}

#hilight-news .item .read{ padding-top: 50px; position: relative; float: left; right: 100px; opacity: 0; transition:all 150ms ease-in-out; 
   -webkit-transition-delay:.2s; /* Safari */
    transition-delay: .2s;
}
#hilight-news .item .read img{ opacity: 0; right: -10px; transition:all 250ms ease-in-out; position: relative;    -webkit-transition-delay:.2s; /* Safari */
    transition-delay: .2s;}

/*#hilight-news .item:hover{right: 10px; top:-20px; 
  -webkit-box-shadow: 18px 17px 10px 3px rgba(0,0,0,0.21);
  -moz-box-shadow: 18px 17px 10px 3px rgba(0,0,0,0.21);
  box-shadow: 18px 17px 10px 3px rgba(0,0,0,0.21);}
#hilight-news .item:hover .mask{ height: 100%; opacity: 1; }
#hilight-news .item:hover .desc { bottom: 0px; }
#hilight-news .item:hover .read { right: 0px; opacity: 1;}
#hilight-news .item:hover .read img{ right: 0; opacity: 1;}*/

#hilight-news .owl-controls
{
  position:absolute;
  bottom: 0px;
  left:-33%;
  bottom: 15%;
  z-index:10;
  width: auto;
  

}
#hilight-news .owl-controls .owl-page span{
  display: block;
  width: 5px;
  height: 5px;
  margin: 5px 7px;
  filter: Alpha(Opacity=30);/*IE7 fix*/
  opacity: 0.3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #616161;display: none; 
}
#hilight-news .owl-controls .owl-page.active span,
#hilight-news .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  background-color: #183c77;
}
#hilight-news .owl-controls .owl-buttons div
{
  background-color:transparent;
  background-position:center;
  background-repeat:no-repeat;
  
  width:80px;
  height:20px;
  position: absolute;

  /*transition:all 250ms ease-in-out;*/
  
}

#hilight-news .owl-controls .owl-buttons div.owl-prev
{
  background-image:url(../img/arrow-left-gray.png);
  left: -20px;
}

#hilight-news .owl-controls .owl-buttons div.owl-next
{
  background-image:url(../img/arrow-right-gray.png);
  right: -210px;
}

#hilight-news .owl-controls .owl-buttons div.owl-next:hover{  }
#hilight-news .owl-controls .owl-buttons div.owl-prev:hover{  }



/*--------------------------- Container ---------------------------*/
.container {
	width: 1600px;
	max-width: 100%;
	margin: 0 auto;
	}
.container-inner {

	width: 1500px;
	max-width: 95%;
	margin: 0 auto;
	}
/*--------------------------- Loading ---------------------------*/
.loading img
{
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-80px;

}

#preload.hide { display: none;}
#preload.show { display: block; opacity: 1;}
#preload
{
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  width:100%;
  background:rgba(255,255,255,0.5);
  z-index:999999;
}

#preload .loader-img
{
  border-radius:50%;
  overflow:hidden;
  position:absolute;
  top:50%;
  left:50%;
  background:url(../img/logo-loading.png) center center no-repeat;
  width:100px;
  height:100px;
  margin-top:-50px;
  margin-left:-50px;

}


.wrapper-preload{
  width: 54px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -10px;
}
#preloader_1{
    position:relative;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}

/*--------------------------- Footer ---------------------------*/

#footer{ height:auto;  border-top:1px solid #d5d5d5; padding-top: 80px; width: 100%; position: relative; float: left; padding-bottom: 80px;}
#footer h5{padding-bottom: 30px;}

#footer .right{ right: 0px; text-align: left; }
#footer-last{ padding-top: 30px; position: relative;float: left; height: 80px; width: 100% ;border-top:1px solid #d5d5d5; }
#footer-last .copy-r{ margin-left: 30px;  float: left;}
#footer-last .f-right{ margin-right: 30px; float: right; text-align: right; }

.tag{ font-size: 1.5rem; }
.tag a{ 
   padding: 1px; 
   padding-left: 15px; 
   padding-right: 15px; 
   background-color: #FFF; 
   border: 1px solid #d5d5d5 ;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px; 
   padding-bottom: 5px;
   padding-top: 5px;
   border-radius: 3px; 
   transition: all 0.2s ease-in-out; margin-right: 3px; 
   margin-bottom: 3px; 
   width: auto;
   position: relative;
   float: left;
   height: auto;}

.tag a:hover{ background-color: #183c77; color: #FFF; border: 1px solid #183c77 ;}
.min-height-500{min-height: 500px;}
/*--------------------------- Search ---------------------------*/
#search {
    width: 100%;
    position: relative;
    float:left;
    height: auto;
    padding-top: 0px;
}
#search input {
    border: 1px solid #ccc;
    border-radius: .25em;
    background: none;
    padding: 8px;
    text-indent: 5px;
    width: 100%;
    color:#000;
    opacity: 1;
    font-size: 2rem;
    transition: all 0.2s ease-in-out; 
}
#search i {
     position: absolute;
     right: 10px;
     top: 20px;
     color:#ccc;
     font-size:1.2rem;
  
}
#quick-search {
     width: 150px;
     position: relative;
	   float:right;
	   right:0px;
	 top:5px;
	 color:#FFF;
   z-index: 30000;

}
#quick-search i {
     position: absolute;
     right: 10px;
     top: 13px;
     color:#FFF;
	   font-size:1.2rem;
	
}
#quick-search input {
    border: 1px solid #FFF;
  border-radius: .25em;
	  background: none;
    padding: 8px;
    text-indent: 5px;
    width: 100%;
	  color:#FFF;
	  opacity: 0.5;
      transition: all 0.2s ease-in-out; 
}
#quick-search input::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
#quick-search input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

#quick-search input:focus {
    border-color: #FFF;
	 opacity: 1;
   width: 120%;
}
#quick-search input:focus + i {
    color:#FFF;
}




/* --------------------- Underline From Center ---------------------------*/
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center-active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  opacity: 0.5;
}
.hvr-underline-from-center-active:before  {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FFF;
  height: 1px;
   left: 0;
  right: 0;

}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FFF;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


/*------Slide ----------*/

/*-----Contact-------*/
#contact{}
#contact .icon-map{position: relative;float: left; left: 50%; margin-left: -50px; top: 30%;}
#contact .social{ position: absolute; float: left; bottom: 20px; width: 100%; height: 100px ;  
 }
  #contact .social i{ color: white; transition: all 200ms ease-in-out; }

 #contact .social i:hover { color: #61c2ec; }
.cd-form textarea{

}
 #contact h3{ margin-left: 90px; }
#contact .cd-form .cd-label {
  color: #FFF;
  margin-top: -10px;
  margin-left: -5px;
  font-size: 1.8rem;
  }
#contact .cd-form input[type="text"],
#contact .cd-form input[type="email"],
#contact .cd-form input[type="number"],
#contact .cd-form textarea{
  /* general style for input elements */
  transition: all 200ms ease-in-out;

  padding: 10px;
  padding-left: 0px;
  border:none;
  margin: 0px;
  color: #FFF;
  font-size: 1.2rem;

  border-bottom:1px solid #FFF;
  box-shadow:none;  
  background-color: none;
  border-radius: none;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(44, 151, 222, 0);

}

#contact .cd-form input[type="text"]:focus,
#contact .cd-form input[type="number"]:focus,
#contact .cd-form input[type="email"]:focus {
  
  padding: 10px;
  padding-left: 0px;
  border:none;
  margin: 0px;

  border-bottom:1px solid blue;

}
#contact .cd-form textarea {
  min-height: 50px;
  resize: vertical;
  overflow: auto;
}
#contact .cd-form input[type="submit"] {
  /* button style */
  border: none;
  font-family: 'loveloblack';
  letter-spacing: 3px;

  background: none;
  border-radius:0;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  transition: all 200ms ease-in-out;

}
#contact .no-touch .cd-form input[type="submit"]:hover {
  color: #42a2e1;
    background: none;

}
#contact .cd-form input[type="submit"]:focus {
  outline: none;
  background: none;
    color: #42a2e1;

}
#contact .cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
#contact .cd-form .cd-label {
}
.contact-con{ width: 400px; left: 50%; margin-left: -200px; float: left; position: relative; }

/*-----About-------*/
#about{}
#about .head-con{ height: 100vh; }
#about{} .about-img{ position: absolute; top: 100%; margin-top: -200px; left: 50%; margin-left: -500px; z-index: 2000; }





/*------Mouse Over----------------*/
.eff-2{
 width: 100%;
 height: 100%;
 position: relative;
transition: all 200ms ease-in-out;


}
.eff-2 img{
 
transition: all 200ms ease-in-out;
}
.eff-2 :hover {

color: #183c77;
}

.eff-2 :hover img{

opacity: .5;
}

/* Effect 18: cross */
.eff-cross {
  position: relative;
  z-index: 1;
  width: 220px;


}

.eff-cross a {
  padding: 0 20px;

  color: #FFF;
  font-family: 'loveloblack';
  font-size: 1.0rem;
}

.eff-cross a::before{
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 1px;
  margin-top:-1px;
  background-color: white;
  content: '';
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.eff-cross a::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 1px;
  margin-top: -1px;
  background-color: white;
  content: '';
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.eff-cross a::before {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  transform: translateY(-15px);
}

.eff-cross a::after {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
}

.eff-cross a:hover,
.eff-cross a:focus {
  color: #fff;
}

.eff-cross a:hover::before,
.eff-cross a:hover::after,
.eff-cross a:focus::before,
.eff-cross a:focus::after {
  opacity: 0.7;
}

.eff-cross a:hover::before,
.eff-cross a:focus::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);

}

.eff-cross a:hover::after,
.eff-cross a:focus::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*--------under line blue---------*/

.eff-line-blue{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 
  position: relative;
  overflow: hidden;
   color: #727577;
}
.eff-line-blue:hover{ color: #183c77; }
.eff-line-blue-active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  opacity: 1;
  color: #183c77;
  
}
.eff-line-blue-active:before  {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #183c77;
  height: 1px;
   left: 0;
  right: 0;

}
.eff-line-blue:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #183c77;

  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.eff-line-blue:hover:before, .eff-line-blue:focus:before, .eff-line-blue:active:before {
  left: 0;
  right: 0;
  
}
/**/
.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 3%;
  z-index: 20000;

}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 24px;
  background: #ffffff;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

.cd-side-nav {

  position: absolute;
  z-index: 10000;
  left: 0;
  top: -250px;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  padding-bottom: 40px;
  opacity: 0;
  max-height: 100vh;
  text-align: center;


  
  transition: all 300ms ease-in-out;


}
.cd-side-nav #quick-search{ padding: 10px; width: 50%; left: 0px;  }
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible; 
  overflow: visible;
  top: 0px;
 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 20;
}
.cd-side-nav > ul>li:last-of-type {
  padding-bottom: 20;
}
.cd-side-nav a {
  display: block;
  padding: 1em 5%;
  position: relative;
  font-family: lovo;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'loveloblack';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2em;
}


/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}




/*-------Layout and Style-----------*/
.vh{ height:100vh;}
.vw{ width:100%;}

.bg-white{ background:#FFF;}
.bg-red{ background:red;}
.bg-blue{ background:#183c77;}
.bg-blue-dark{ background-color: #1c2c3e;}

.bg-gray{ background:#f5f5f5;}
.bg-gray01{ background:#cbcbcb; }
.bg-gray2{ background:#cbcbcb; }
.bg-blue-gra{background: rgba(24,60,119,0.09);
background: -moz-linear-gradient(top, rgba(24,60,119,0.09) 0%, rgba(24,60,119,0.5) 45%, rgba(24,60,119,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,60,119,0.09)), color-stop(45%, rgba(24,60,119,0.5)), color-stop(100%, rgba(24,60,119,1)));
background: -webkit-linear-gradient(top, rgba(24,60,119,0.09) 0%, rgba(24,60,119,0.5) 45%, rgba(24,60,119,1) 100%);
background: -o-linear-gradient(top, rgba(24,60,119,0.09) 0%, rgba(24,60,119,0.5) 45%, rgba(24,60,119,1) 100%);
background: -ms-linear-gradient(top, rgba(24,60,119,0.09) 0%, rgba(24,60,119,0.5) 45%, rgba(24,60,119,1) 100%);
background: linear-gradient(to bottom, rgba(24,60,119,0.09) 0%, rgba(24,60,119,0.5) 45%, rgba(24,60,119,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c77', endColorstr='#183c77', GradientType=0 );}

.bg-blue-gra2{background: rgba(24,60,119,0);
background: -moz-linear-gradient(top, rgba(24,60,119,0) 0%, rgba(24,60,119,1) 65%, rgba(24,60,119,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(24,60,119,0)), color-stop(65%, rgba(24,60,119,1)), color-stop(100%, rgba(24,60,119,1)));
background: -webkit-linear-gradient(top, rgba(24,60,119,0) 0%, rgba(24,60,119,1) 65%, rgba(24,60,119,1) 100%);
background: -o-linear-gradient(top, rgba(24,60,119,0) 0%, rgba(24,60,119,1) 65%, rgba(24,60,119,1) 100%);
background: -ms-linear-gradient(top, rgba(24,60,119,0) 0%, rgba(24,60,119,1) 65%, rgba(24,60,119,1) 100%);
background: linear-gradient(to bottom, rgba(24,60,119,0) 0%, rgba(24,60,119,1) 65%, rgba(24,60,119,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c77', endColorstr='#183c77', GradientType=0 );}

.bf-white{ background:#FFF;}
.overlay{background-color: #030b18; position: absolute; width: 100%; height: 100%; float: left; top: 0; left: 0;}
.overlay-2{background-color: #030b18; position: relative; width: 100%; height: 100%; float: left; top: 0; left: 0;}

.c-white{color:#FFF;}
.c-gray{color:#616161;}
.c-gray2{color:#ababab;}
.c-gray3{color:#535353;}
.c-blue{color:#183c77;}
.c-blue2{color:#519be9;}

.opt{opacity: 0.5;}
.opt-2{opacity: 0.2;}
.opt-5{opacity: 0.5;}
.opt-10{opacity: 1.5;}

.sp1{letter-spacing: .1rem;}
.sp2{letter-spacing: .3rem;}
.sp3{letter-spacing: .3rem;}
.sp4{letter-spacing: .4rem;}
.sp5{letter-spacing: .5rem;}
.sp6{letter-spacing: .6rem;}
.sp7{letter-spacing: .7rem;}
.sp8{letter-spacing: .8rem;}



.col-05{ width: 5%; position: relative; float: left; }
.col-1{ width: 10%; position: relative; float: left; }
.col-15{ width: 15%; position: relative; float: left; }
.col-2{ width: 20%; position: relative; float: left; }
.col-25{ width: 25%; position: relative; float: left; }
.col-3{ width: 30%; position: relative; float: left; }
.col-35{ width: 35%; position: relative; float: left; }
.col-33{ width: 33.33333333333333333%; position: relative; float: left; }
.col-4{ width: 40%; position: relative; float: left; }
.col-45{ width: 45%; position: relative; float: left; }
.col-5{ width: 50%; position: relative; float: left; }
.col-55{ width: 55%; position: relative; float: left; }
.col-6{ width: 60%; position: relative; float: left; }
.col-65{ width: 65%; position: relative; float: left; }
.col-75{ width: 75%; position: relative; float: left; }
.col-7{ width: 70%; position: relative; float: left; }
.col-8{ width: 80%; position: relative; float: left; }
.col-85{ width: 85%; position: relative; float: left; }


/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

.line{position: relative; height: 1px; width: 100%; }
.line-right{ border-right:1px solid #d5d5d5; }
.ling-left{ border-left:1px solid #d5d5d5; }
.ling-top{ border-top:1px solid #d5d5d5; }

.pad-10{padding: 10px;}
.pad-20{padding: 20px;}
.pad-30{ padding: 30px; }
.pad-40{ padding: 40px; }


.pad-top{padding-top: 5%;}
.pad-top1{padding-top: 40px;}
.pad-top-5{padding-top: 5px;}
.pad-top-10{padding-top: 10px;}
.pad-top-15{padding-top: 15px;}
.pad-top-40{padding-top: 40px;}
.pad-top-20{padding-top: 20px;}
.pad-top-25{padding-top: 25px;}
.pad-top-60{padding-top: 60px;}


.pad-left{padding-left: 40px;}
.pad-left-10{padding-left: 10px;}
.pad-left-15{padding-left: 15px;}
.pad-left-20{padding-left: 20px;}
.pad-left-25{padding-left: 25px;}
.pad-left-30{padding-left: 30px;}
.pad-left-40{padding-left: 40px;}
.pad-left-60{padding-left: 60px;}



.pad-right{padding-right: 10%;}
.pad-right-20{padding-right: 20px;}
.pad-right-40{padding-right: 40px;}
.pad-right-60{padding-right: 60px;}




.pad-down{padding-bottom: : 10%;}
.pad-bot{padding-bottom: 10%;}
.pad-bot-100{padding-bottom: 100px;}

.pad-bot-10{padding-bottom: 10px;}
.pad-bot-15{padding-bottom: 15px;}
.pad-bot-40{padding-bottom: 40px;}
.pad-bot-20{padding-bottom: 20px;}
.pad-bot-60{padding-bottom: 60px;}


.pad-top-{padding-top: 10%;}
.mar-top{margin-top: 5vh;}
.mar-top-20{margin-top: 20px;}

.mar-top-40{margin-top: 40px;}
.mar-top-80{margin-top: 80px;}
.mar-right{margin-right: 5vw;}

.mar-bot{margin-bottom: 5vh;}
.mar-bot-2{margin-bottom: 20vh;}
.mar-bot-1{margin-bottom: 10vh;}
.mar-bot-40{margin-bottom: 40px;}
.mar-bot-20{margin-bottom: 20px;}

.right{ float: right; right: 0px; text-align: right;  }
.right-2{ float: right; right: 0px; text-align: right;  }
.right i{ padding-right: 10px; font-size: 1.1rem;}
.right-100{ float: right; right: -200px; }

.left-100{ float: left; left: -180px; }

.top-1{ top: 50%; }

.img-100 img{ width: 100%; height: auto; }


.rota-90{
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  z-index: 1000;

}
.abs{position: absolute;}
.fix{position: fixed;}
.w-50{width: 50%;}
.h-500{height: 500px;}
.h-250{height: 250px;}

.h-100vh{height: 100vh;}
.w-100vw{width: 100vw;}



.hei-3{ height: 33.3333333%; }
.hei-100{height: 100%;}
.hei-auto{height: auto;}



.row{ position: relative; width: 100%; float: left;}
.row-2{ position: relative; float: left;}

.bold{ font-weight: 800; }
#artists-category{ 
  text-align: center;  
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cbcbcb; padding: 0;
  display: flex;
  -webkit-justify-content: center; 
  justify-content: center; 
 

  }

.img-news{background:url(../img/header-news.jpg)center center no-repeat;background-position:center; background-size:cover; }
.img-about{background:url(../img/header-about.jpg)center center no-repeat;background-position:center; background-size:cover; }
.img-artists{background:url(../img/header-artists.jpg)center center no-repeat;background-position:center; background-size:cover; }

.img-contact-01{background:url(../img/contact-img01.jpg)center center no-repeat;background-position:center; background-size:cover;}
.img-contact-02{background:url(../img/contact-img02.jpg)center center no-repeat;background-position:center; background-size:cover;}
.img-contact-03{background:url(../img/contact-img03.jpg)center center no-repeat;background-position:center; background-size:cover;}
.img-contact-04{background:url(../img/contact-img04.jpg)center center no-repeat;background-position:center; background-size:cover;}
.img-contact-05{/*background:url(../img/bg-map.jpg)center center no-repeat;background-position:center;*/ background-color: #1f1f1f;}

.bg-none{background-color:rgba(66, 139, 202, .5)}

.s-mob{ display: none; }
.h-mob{ display: block; }
.h-tab{ display: block; }
.s-tab{ display: none; }

.z-index{ z-index: 99000; }
.top-0{top: 0px;}
.wrap-text{
  white-space: nowrap;
  text-overflow: ellipsis;}


.f-bure{

    -webkit-filter: blur(15px);
    -webkit-transition: -webkit-filter .50s;
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;


}

#playlists .album-desc{ width: 70%; }
