/* Style the list */
ul.tab-news {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


    width: 100%;

    
}

/* Float the list items side by side */
ul.tab-news li {float: left; width: 33.333333%; text-align: center;    position: relative; }

/* Style the links inside the list items */
ul.tab-news li a {
    display: inline-block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    width: 100%;


}

/* Change background color of links on hover */
ul.tab-news li a:hover { color:#183c77;}

/* Create an active/current tablink class */
ul.tab-news li a:focus, .active { color:#183c77; }

/* Style the tab content */
.tabcontent {
  
    border-top: none;

    width: 100%;
    margin: 0 auto;

}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}