/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


    width: 1000px;
    max-width: 90%;
    margin: 0 auto;

    
}

/* Float the list items side by side */
ul.tab li {float: left; width: 50%; text-align: center;    position: relative; border-bottom:1px solid #cbcbcb; }

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    width: 100%;


}

/* Change background color of links on hover */
ul.tab li a:hover { color:#183c77;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {border-bottom:8px solid #183c77; color:#183c77; }

/* Style the tab content */
.tabcontent {
  
    border-top: none;
    padding-bottom: 40px;
    padding-top: 40px;

    width: 1000px;
    max-width: 90%;
    margin: 0 auto;

}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}